{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Over CoderDojo &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Over CoderDojo &mdash; {{ parent() }}{% endblock %}

{% block description %}
    CoderDojo is een non-profit wereldwijde beweging, opgezet door Hames Whelton en Bill Liao. Het is begonnen op de school van James Whelton begin 2011 toen James publiciteit ontving voor het hacken van de iPod Nano en jongeren leerlingen interesse toonden in het leren van programmeren.
{% endblock %}

{% block fbdescription %}
    CoderDojo is een non-profit wereldwijde beweging, opgezet door Hames Whelton en Bill Liao. Het is begonnen op de school van James Whelton begin 2011 toen James publiciteit ontving voor het hacken van de iPod Nano en jongeren leerlingen interesse toonden in het leren van programmeren.
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View About Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Over CoderDojo</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-6 md-margin-bottom-40">
            <p>
                <b>Wat is CoderDojo?</b>
                <br/><br/>
                CoderDojo is een open source, door vrijwilligers opgezette beweging die staat voor het houden van gratis, non-profit development clubs en reguliere sessies voor jonge mensen. Omdat CoderDojo open source is kan elke Dojo anders zijn en staat volledig los van andere Dojo&apos;s.
            </p>

            <p>
                Bij een Dojo leren jonge mensen, tussen de 5 en 17 jaar, om te programmeren, websites bouwen, apps ontwikkelen, programma&apos;s te maken, games te maken en meer. Dojo&apos;s worden opgezet en georganiseerd door vrijwilligers. Naast het leren programmeren, ontmoeten deelnemers ook anderen like-minded mensen, delen deelnemers waar ze aan aan het werken zijn en maken ze nieuwe dingen. CoderDojo maakt development en leren programmeren een leuke, sociale en kick ass ervaring. CoderDojo legt ook veel nadruk op open source en gratis software en heeft wereldwijd een breed netwerk aan vrijwilligers. CoderDojo heeft slecht één regel: "Boven Alles: Wees Cool!", pesten, liegen en mensen hun tijd verdoen is <b>niet</b> cool. Om aan een Dojo mee te doen kun je er een bij jou in de buurt zoeken of zelf een opstarten.
            </p>

        </div>

        <div class="col-md-6 md-margin-bottom-40">
            <div class="responsive-video">
                <iframe src="//www.youtube.com/embed/z_gcHGa8J1E" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div><!--/row-->

    <div class="clearfix margin-bottom-40"></div>

    <div class="row margin-bottom-30">
        <div class="col-md-6 md-margin-bottom-40">
            <img src="{{asset('/bundles/coderdojowebsite/img/map.jpg')}}" class="img-responsive" alt="CoderDojo over de hele wereld"/>
        </div>

        <div class="col-md-6 md-margin-bottom-40">
            <p>
                <b>Een stukje geschiedenis</b>
                <br/><br/>
                CoderDojo is een non-profit wereldwijde beweging, opgezet door Hames Whelton en Bill Liao. Het is begonnen op de school van James Whelton begin 2011 toen James publiciteit ontving voor het hacken van de iPod Nano en jongeren leerlingen interesse toonden in het leren van programmeren. Hij richtte een computerclubje op op zijn school (PBC Cork, Ierland) waar hij begon met de les geven in de basis van HTML en CSS. Later dat jaar ontmoette hij Bill Liao, een entrepreneur en Filantroop die het project groter wilde maken. In juni 2011 werd de eerste CoderDojo gelanceerd in het National Software Centre in Cork, Ierland, welke een groot succes werd. De Dojo van Cork ontving regelmatig mensen vanuit Dublin om mee te doen aan de sessies. Door deze populariteit is er ook een Dojo in Dublin opgericht in Google&apos;s Montevetro gebouw. Door de beweging open source te maken werden er in een mum van tijd door heel Ierland CoderDojo&apos;s opgericht en later over de hele wereld!</p>

        </div>
    </div><!--/row-->

    <div class="clearfix margin-bottom-40"></div>
    <h2>De oprichters van CoderDojo</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="{{asset('/bundles/coderdojowebsite/img/jameswhelton.jpg')}}" alt="James Whelton" />
                <div class="caption">
                    <h3>James Whelton</h3>
                    <p>
                        "Ik zag al heel snel de enorme interesse in programmeren van mensen ouder én jonger dan ikzelf. Toen we in december opstartte hadden eerst 40 studenten waarna het snel groter werd. We leerden basis programmeren en web development, studenten gaven anderen studenten les en het was een hele sfeervolle omgeving."</p>
                    <p><a href="http://twitter.com/jwhelton" target="_blank" class="btn-u btn-u-small btn-u-blue"><i class="icon-twitter color-white"></i>&nbsp;Twitter</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-responsive" src="{{asset('/bundles/coderdojowebsite/img/bill-liao.jpg')}}" alt="" />
                <div class="caption">
                    <h3>Bill Liao</h3>
                    <p>
                        Bill Liao richtte WeForest.org op. Zijn organisatie WeForest.org is een internationale non-profit organisatie die vecht tegen de opwarming van de aarde. Bill heeft CoderDojo samen met James Whelton opgericht om jonge mensen te ondersteunen in het leren om creators te worden in plaats van gebruikers.
                    </p>
                    <p><a href="http://twitter.com/liaonet" target="_blank" class="btn-u btn-u-blue btn-u-small"><i class="icon-twitter color-white"></i>&nbsp;Twitter</a></p>
                </div>
            </div>
        </div>
    </div><!--/row-->

    <div class="clearfix margin-bottom-40"></div>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
