{% extends "CoderDojoWebsiteBundle:Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <h3>Mijn Dojo&apos;s</h3>
    {% if app.user.dojos|length == 0 %}
        <p>Er zijn nog geen dojo's aan jouw account gekoppeld.</p>
    {% endif %}
    {% for dojo in app.user.dojos %}
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title margin-bottom-10"><i class="glyphicon glyphicon-flag"></i> {{ dojo.name }}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ dojo.lat }},{{ dojo.lon }}&zoom=6&size=190x150&maptype=roadmap&markers={{ dojo.lat }},{{ dojo.lon }}&key=AIzaSyBetOCLHOnWYFAgiEcnwGLT4qyPkLeBh6M" style="width:100%;" />
                    </div>
                    <div class="col-md-9">
                        <p>
                            <a href="mailto:{{ dojo.email }}" class="btn btn-default" title="Email"><i class="icon-envelope"></i>&nbsp;Email</a>
                            <a href="{{ dojo.zenUrl }}" title="Website" class="btn btn-default"><i class="icon-globe"></i>&nbsp; Zen</a>&nbsp;
                            <a href="{{ dojo.website }}" title="Website" class="btn btn-default"><i class="icon-globe"></i>&nbsp; Website</a>&nbsp;
                            <a href="http://twitter.com/{{ dojo.twitter }}" title="Twitter" class="btn btn-default"><i class="icon-twitter"></i>&nbsp;Twitter</a>
                        </p>
                        <hr>
                        <h4>Beheer</h4>
                        <p>
                            <a href="#" class="btn btn-default" title="Events"><i class="icon-calendar"></i>&nbsp;Events</a>&nbsp;
                            <a href="#" class="btn btn-default" title="Mentoren"><i class="icon-user"></i>&nbsp;Mentoren</a>&nbsp;
                            <a href="#" class="btn btn-default" title="VOG"><i class="icon-check"></i>&nbsp;VOG</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock dashboard_content %}