{% extends "CoderDojoWebsiteBundle:Dashboard:index.html.twig" %}

{% block dashboard_content %}
<h3>Mentoren Beheren voor {{ dojo.name }}</h3>
<table class="table">
    <thead>
        <tr>
            <td>Naam</td>
            <td>Email</td>
            <td>Telefoon</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for mentor in dojo.owners %}
            <tr>
                <td>{{ mentor.firstName}} {{ mentor.lastName }}</td>
                <td>{{ mentor.email}}</td>
                <td>{{ mentor.phone }}</td>
                <td>
                    <a href="#" class="btn btn-danger" title="Verwijderen"><i class="icon-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock dashboard_content %}