{% extends "CoderDojoWebsiteBundle:Dashboard:index.html.twig" %}

{% block dashboard_content %}
<h3>VOG's Beheren</h3>
<table class="table">
    <thead>
        <tr>
            <th>Voorletters</th>
            <th>Achternaam</th>
            <th>Email</th>
            <th>Geboortedatum</th>
            <th>Opmerkingen</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for coc in cocs %}
            <tr>
                <td>{{ coc.letters }}</td>
                <td>{{ coc.name }}</td>
                <td>{{ coc.email }}</td>
                <td>{{ coc.birthdate|date('d/m/Y') }}</td>
                <td>{{ coc.notes }}</td>
                <td>
                    {% if coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_CREATED') %}
                        Aangemeld
                    {% elseif coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_PREPARED') %}
                        Aangevraagd
                    {% elseif coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_REQUESTED') %}
                        Verzonden
                    {% elseif coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_RECEIVED') %}
                        Ontvangen
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}