{% extends ":Blog:index.html.twig" %}

{% block title %}Nieuws | CoderDojo Nederland{% endblock title %}
{% block fbtitle %}Nieuws | CoderDojo Nederland{% endblock fbtitle %}
{% block description %}Lees hier het laatste nieuws over CoderDojo binnen Nederland. Hier vind je ook vertaalde artikelen van coderdojo.com{% endblock description %}
{% block fbdescription %}Lees hier het laatste nieuws over CoderDojo binnen Nederland. Hier vind je ook vertaalde artikelen van coderdojo.com{% endblock fbdescription %}
{% block og_image %}https://www.coderdojo.nl{{ asset("/bundles/coderdojowebsite/img/fb_nieuws.png") }}{% endblock %}

{% block articles %}
    {% for article in articles %}
        <div class="row g-mb-30">
            <!-- Article Image -->
            <div class="col-md-5">
                <img class="img-fluid w-100 g-mb-20 g-mb-0--md" src="{{ asset("/articles/#{article.image}")|imagine_filter('article_image_list') }}" alt="{{ article.title|title }}">
            </div>
            <!-- End Article Image -->

            <!-- Article Content -->
            <div class="col-md-7 align-self-center">
                <!-- Article Title -->
                <h3 class="h3 g-mb-15">
                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="{{ path('blog_single', {'category': article.category.slug, 'slug': article.slug}) }}">{{ article.title|title }}</a>
                </h3>
                <!-- End Article Title -->

                <!-- Article Info -->
                <div class="media g-font-size-12 g-color-gray-dark-v4 g-mb-20">
                    <div class="media-body align-self-center">
                        <i class="fa fa-calendar"></i> {{ article.publishedAt|date('d/m/Y') }}
                        <span class="g-mx-5">/</span>
                        <i class="fa fa-user"></i> {{ article.author.firstname }} {{ article.author.lastname }}
                        <span class="g-mx-5">/</span>
                        <i class="fa fa-tags"></i> {{ article.category.title }}
                    </div>
                </div>
                <!-- End Article Info -->

                <!-- Article Text -->
                <p>{{ article.body|striptags|truncate(315, true)|raw }}</p>
                <!-- End Article Text -->

                <a class="font-italic u-link-v1" href="{{ path('blog_single', {'category': article.category.slug, 'slug': article.slug}) }}">Lees meer</a>
            </div>
            <!-- End Article Content -->
        </div>

        {% if not loop.last %}
            <hr class="g-mb-40">
        {% endif %}
    {% endfor %}
{% endblock articles %}

{% block pagination %}
    <div class="row g-mb-40 g-mt-40">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <nav class="text-center" aria-label="Page navigation">
                {{ pagerfanta(
                    pager,
                    'twitter_bootstrap4',
                    {
                        'prev_message':'Vorige',
                        'next_message':'Volgende'
                    }
                ) }}
            </nav>
        </div>
    </div>
{% endblock pagination %}
