{% extends ":Blog:index.html.twig" %}

{% block title %}{{ article.title }} | Nieuws | CoderDojo Nederland{% endblock title %}
{% block fbtitle %}{{ article.title }} | Nieuws | CoderDojo Nederland{% endblock fbtitle %}
{% block description %}{{ article.body|striptags|truncate(300, true)|raw }}{% endblock description %}
{% block fbdescription %}{{ article.body|striptags|truncate(300, true)|raw }}{% endblock fbdescription %}
{% block og_image %}https://www.coderdojo.nl{{asset("articles/#{article.image}")}}{% endblock %}
{% block custom_headers %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url('blog_single', {'category':article.category.slug, 'slug':article.slug}) }}" />
    <meta property="author" content="{{ article.author.firstName }} {{ article.author.lastName }}"/>
{% endblock custom_headers %}

{% block articles %}

        <div class="blog blog-single margin-bottom-40" itemscope itemtype="http://schema.org/Article">
            <div class="blog-img">
                <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                    <img class="img-responsive" itemprop="image" src="{{ asset("/articles/#{article.image}") }}" alt="{{ article.title }}">
                    <meta itemprop="url" content="{{ app.request.schemeAndHttpHost }}{{ asset("/articles/#{article.image}") }}">
                    <meta itemprop="width" content="1200">
                    <meta itemprop="height" content="630">
                </span>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 blog-title">
                        <h2 itemprop="headline"><a href="#">{{ article.title|capitalize }}</a></h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="blog-post-tags">
                        <ul class="list-unstyled list-inline blog-info">
                            <li ><i class="icon-calendar"></i> <time itemprop="datePublished" datetime="{{ article.publishedAt|date(constant('DATE_ISO8601')) }}">{{ article.publishedAt|date('d/m/Y') }}</time></li>
                            <li><i class="icon-user"></i> <address itemprop="author">{{ article.author.firstname }} {{ article.author.lastname }}</address></li>
                            <li><i class="icon-tags"></i> <a href="{{ path('blog_category', {'slug':category.slug}) }}">{{ article.category.title|capitalize }}</a></li>
                        </ul>
                    </div>

                    <div class="margin-bottom-30">
                        {{ article.body|raw }}
                    </div>

                    <footer>
                        <div class="addthis_inline_share_toolbox"></div>
                    </footer>
                </div>
            </div>
        </div>

{% endblock articles %}
{% block customjs %}
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58f11e34318a0365"></script>
{% endblock customjs %}