{% extends ":Blog:index.html.twig" %}

{% block title %}{{ article.title }} | Nieuws | CoderDojo Nederland{% endblock title %}
{% block fbtitle %}{{ article.title }} | Nieuws | CoderDojo Nederland{% endblock fbtitle %}
{% block description %}{{ article.body|striptags|truncate(300, true)|raw }}{% endblock description %}
{% block fbdescription %}{{ article.body|striptags|truncate(300, true)|raw }}{% endblock fbdescription %}
{% block og_image %}{{ asset("/articles/#{article.image}")|imagine_filter('article_image_header') }}{% endblock %}
{% block custom_headers %}
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ url('blog_single', {'category':article.category.slug, 'slug':article.slug}) }}" />
    <meta property="author" content="{{ article.author.firstName }} {{ article.author.lastName }}"/>
{% endblock custom_headers %}

{% block articles %}

    <div class="row">
        <div class="col-md-12 g-mb-30">
            <!-- Article -->
            <article itemscope itemtype="http://schema.org/Article">
                <span itemscope itemtype="https://schema.org/ImageObject">
                    <img class="img-fluid w-100" src="{{ asset("/articles/#{article.image}")|imagine_filter('article_image_header') }}" alt="{{ article.title|title }}">
                    <meta itemprop="url" content="{{ app.request.schemeAndHttpHost }}{{ asset("/articles/#{article.image}") }}">
                    <meta itemprop="width" content="1200">
                    <meta itemprop="height" content="630">
                </span>

                <div class="g-bg-white g-pos-rel g-pa-20 g-mx-40--sm g-mt-minus-70">
                    <h3 class="h3 g-mb-10" itemprop="headline">
                        {{ article.title|title }}
                    </h3>

                    <ul class="list-inline g-font-size-12 g-color-gray-dark-v4">
                        <li class="list-inline-item"><i class="fa fa-calendar"></i> <time itemprop="datePublished" datetime="{{ article.publishedAt|date(constant('DATE_ISO8601')) }}">{{ article.publishedAt|date('d/m/Y') }}</time></li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item"><i class="fa fa-user"></i> <span itemprop="author">{{ article.author.firstname }} {{ article.author.lastname }}</span></li>
                        <li class="list-inline-item">/</li>
                        <li class="list-inline-item"><i class="fa fa-tags"></i> <a href="{{ path('blog_category', {'slug':category.slug}) }}">{{ article.category.title|capitalize }}</a></li>
                    </ul>

                    {{ article.body|raw }}

                    <footer class="g-mt-40">
                        <div class="sharethis-inline-share-buttons"></div>
                    </footer>
                </div>
            </article>
            <!-- End Article -->
        </div>
    </div>

{% endblock articles %}
{% block customjs %}
    <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=594e5d9699baea0012f9c19a&product=inline-share-buttons"></script>
{% endblock customjs %}
