{% extends "::index_v2.html.twig" %}

{% block title %}Word lid van de Club van 100 &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Word lid van de Club van 100 &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Steun CoderDojo Nederland door lid te worden van de club van 100! Dit betekent dat jij elk jaar &euro;100,- doneert aan
    CoderDojo Nederland. Deze club bestaat uit 100 mensen / bedrijven waardoor de stichting zeker is van een jaarlijks inkomen.
{% endblock %}

{% block fbdescription %}
    Steun CoderDojo Nederland door lid te worden van de club van 100! Dit betekent dat jij elk jaar &euro;100,- doneert aan
    CoderDojo Nederland. Deze club bestaat uit 100 mensen / bedrijven waardoor de stichting zeker is van een jaarlijks inkomen.
{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/fb-club100.png')}}{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
    <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ asset('/bundles/coderdojowebsite/img/headers/header_13.jpg') }});">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Help mee onze stichting draaiende te houden!</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">De Club van 100</h2>
            </header>

            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    Home
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    Club van 100
                </li>
            </ul>
        </div>
    </section>
<!--=== End Breadcrumbs ===-->

<section class="col-lg-12 g-my-40">
    <div class="container">
        <div class="row g-mb-30">
            <div class="col-lg-2"></div>
            <div class="col-md-8">

            <img src="{{ asset('/bundles/coderdojowebsite/img/club100.png') }}" alt="CoderDojo Slack Community" class="img-fluid g-mb-50"/>

            <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-40">
                <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">100 leden doneren &euro; 100 per jaar</h2>
            </div>

            <p>
                CoderDojo Nederland is een stichting die op non-profit basis werkt. Dat betekent dus dat wij op geen
                enkele manier winst maken. Om onze taken goed uit te voeren moeten we helaas wél de nodige kosten maken.
                Sinds onze start in 2015 hebben we twee keer een grote financiële donatie gekregen, eenmaal van
                Elastic en eenmaal van CodeStarter. Deze donaties hebben ons geholpen de dojo gemeenschap in Nederland
                op te zetten en te onderhouden.
            </p>
            <p>
                Hoewel we heel dankbaar zijn voor die hulp, maakt het ons erg afhankelijk van kortlopende en/of
                eenmalige donaties. Veel beter zou zijn om zelfstandig onze stichting van een jaarlijks inkomen te voorzien. Op
                die manier weten we van te voren waar we aan toe zijn en kunnen we de besteding van ons budget verder
                vooruit plannen.
            </p>
            <p>
                De manier om dit te doen is door een club van 100 op te richten. Dit zijn 100 mensen / bedrijven die
                elk jaar &euro; 100,- aan CoderDojo Nederland doneren. Als lid van deze club kom je (indien gewenst) in
                onze hall of fame van de club van 100. Zo kan iedereen zien wie de awesome dragers van CoderDojo Nederland
                zijn!
            </p>

            <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-40">
                <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Hoe werkt het?</h2>
            </div>

            <p>
                <strong>Lid worden</strong><br/>
                Als je besluit om lid te worden kun je je via onderstaand formulier aanmelden. Je krijgt dan een email
                van ons met daarin een link om je aanmelding te bevestigen. Vanaf dat moment ben je officieel 1 van de
                club van 100!
            </p>

            <p>
                <strong>Hoe zit het met betalen?</strong><br/>
                Bij je aanmelding kies je of je per jaar, per half jaar of per kwartaal wilt betalen. Je wordt dan doorgestuurd
                naar e-curring waar je je eerste donatie meteen kan doen. Vanaf dat moment zal e-curring er voor zorgen dat er
                telkens op de door jouw gekozen termijn een donatie afgeschreven wordt. Makkelijker kan niet toch?
            </p>

            <p>
                <strong>Stoppen</strong><br/>
                Wil je stoppen als een club van 100 lid? Super jammer! Maar we begrijpen dat het soms niet anders kan.
                <a href="{{ path('contact') }}">Stuur ons een e-mailtje</a> en dan zorgen wij dat je lidmaatschap opgezegd wordt.
            </p>

                <p class="text-center g-mt-40">
                    <a href="#subscribe" class="btn btn-lg u-btn-orange g-mr-10 g-mb-15">
                        Ik wil lid worden!&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-thumbs-up"></i>
                    </a><br/>
                    <a href="{{ path('donate') }}">
                        Liever eenmalig doneren?
                    </a>
                </p>

            </div>
        </div>
    </div>
</section>

<section class="col-lg-12 g-bg-secondary g-py-40">
    <div class="container">
        <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-40">
            <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Wat onze leden zeggen:</h2>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for member in members|slice(0,3) %}
            <div class="col-md-6 col-lg-4 g-mb-30">
                <!-- Testimonials -->
                <div class="u-shadow-v19 g-bg-white text-center rounded g-pt-20 g-pb-40 g-px-40">
                    <i class="d-block g-color-orange g-font-size-50 g-line-height-0_7 g-pos-rel g-top-20">“</i>
                    <blockquote class="lead u-blockquote-v6 g-py-20">{{ member.reason|truncate(200) }}</blockquote>
                    <img class="g-width-70 g-height-70 g-brd-2 g-brd-style-solid g-brd-orange rounded-circle g-mb-20" src="{{ asset('/club-100-avatars/' ~ member.avatar)|imagine_filter('club_100_member') }}" alt="{{ member.firstName }} {{ member.lastName }}">
                    <h4 class="h5 g-color-orange g-mb-0">{{ member.firstName }} {{ member.lastName }}</h4>
                    {% if member.company != '' %}
                        <em class="g-color-gray-dark-v4 g-font-style-normal g-font-size-13">{{ member.company }}</em>
                    {% endif %}
                </div>
                <!-- End Testimonials -->
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-right">
                <a href="{{ path('club_of_100_showcase') }}" class="btn btn-md u-btn-orange g-mr-10 g-mb-15">
                    Bekijk alle leden&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="col-lg-12 g-pt-40">
    <div class="container">
        <div class="row g-mb-30">
            <div class="col-lg-2"></div>
            <div class="col-md-8">
                <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-40">
                    <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0" id="subscribe">Word nu lid van de club van 100!</h2>
                </div>

                <p>
                    Wil je lid worden van de Club van 100? Super tof, je bent van harte welkom! Middels onderstaande formulier
                    kun je je aanmelden.
                </p>

            <p class="small" style="font-style: italic;">Velden met een * zijn verplicht.</p>

            {% if form.vars.errors|length > 0 %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <p>
                        <strong>We kunnen je formulier niet verwerken</strong>
                    {% for error in form.vars.errors %}
                        <br/>{{ error.message }}
                    {% endfor %}
                    </p>
                </div>
            {% endif %}


            {{ form_start(form, { 'attr': { 'class': 'form-horizontal' } }) }}
            <div class="form-group">
                <div class="col-lg-12">
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.twitter) }}
                    {{ form_row(form.company) }}
                    {{ form_row(form.type) }}
                    {{ form_row(form.avatar) }}
                    {{ form_row(form.public) }}

                    <div class="form-group row">
                        {{ form_label(form.subscription) }}
                        <div class="col-lg-10">
                            {{ form_widget(form.subscription) }}
                        </div>
                    </div>

                    {{ form_row(form.reason) }}

                    <div class="form-group row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-offset-2 col-lg-10">
                            {{ form_widget(form.consent) }}
                            <label class="required control-label" for="club_of100_form_consent">
                                Ik ga akkoord met de verwerking van mijn gegevens volgens de <a href="{{ path('privacy') }}" target="_blank">Privacy Verklaring</a>.
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" value="Ik word lid en doneer elk jaar €100!" class="btn btn-block btn-success" />
                        </div>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
                <div class="form-group row g-mt-40">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-offset-2 col-lg-10 text-center">
                        <p>Mede mogelijk gemaakt door:</p>
                        <a href="https://ecurring.com">
                            <img src="{{ asset('/img/ecurring.png') }}" alt="Mede mogelijk gemaakt door Ecurring" class="img-fluid" width="150"/>
                        </a>
                    </div>
                </div>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</section>
<!--=== End Content Part ===-->
{% endblock %}
