{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ coc.requestedBy.firstname }},</p>
    <p>
        We hebben helaas slecht nieuws, het VOG voor <strong>{{ coc.letters }} {{ coc.name }}</strong> is niet op tijd aangevraagd.
        Nadat wij de aanvraag bij het ministerie hebben klaar gezet is deze 30 dagen geldig. Deze zijn inmiddels verstreken waardoor het
        niet meer mogelijk is om de aanvraag te voltooien. Dit hebben we ook aan {{ coc.letters }} {{ coc.name }} laten weten.
    </p>
    <p>
        <strong>Mogelijke Kruising</strong><br/>
        Het zou kunnen dat {{ coc.letters }} {{ coc.name }} al wél de aanvraag met zijn Digid bij de overheid gedaan heeft.
        In dat geval betekend dit dat wij deze nog niet ontvangen hebben. Controleer dan of {{ coc.letters }} {{ coc.name }}
        het VOG al ontvangen heeft van de overheid en deze al naar ons doorgestuurd heeft.
    </p>
    <p>
        <strong>Wat nu?</strong><br/>
        Als je nog steeds wilt dat er voor {{ coc.letters }} {{ coc.name }} een VOG komt, laat het ons dan weten middels een reply op deze mail.
        Wij zullen dan de aanvraag opnieuw klaar zetten zodat {{ coc.letters }} {{ coc.name }} weer 30 dagen de tijd heeft.
    </p>
    <p>
        Mocht je nog vragen hebben, neem dan gerust contact met ons op.
    </p>
{% endblock content %}
