<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>{% block title %}CoderDojo Nederland{% endblock %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers!
Ben je ouder? Wordt dan mentor bij een Dojo of start jouw eigen CoderDojo!{% endblock %}">

    <!-- FB tags -->
    <meta property="og:title" content="{% block fbtitle %}CoderDojo Nederland{% endblock %}"/>
    <meta property="og:image" content="{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/facebook.png')}}{% endblock %}"/>
    <meta property="og:site_name" content="CoderDojo Nederland"/>
    <meta property="og:description" content="{% block fbdescription %}Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers!
Ben je ouder? Wordt dan mentor bij een Dojo of start jouw eigen CoderDojo!{% endblock %}"/>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-57x57.png?v=3">
    <link rel="apple-touch-icon" sizes="60x60" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-60x60.png?v=3">
    <link rel="apple-touch-icon" sizes="72x72" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-72x72.png?v=3">
    <link rel="apple-touch-icon" sizes="76x76" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-76x76.png?v=3">
    <link rel="apple-touch-icon" sizes="114x114" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-114x114.png?v=3">
    <link rel="apple-touch-icon" sizes="120x120" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-120x120.png?v=3">
    <link rel="apple-touch-icon" sizes="144x144" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-144x144.png?v=3">
    <link rel="apple-touch-icon" sizes="152x152" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-152x152.png?v=3">
    <link rel="apple-touch-icon" sizes="180x180" href="/bundles/coderdojowebsite/img/favicons/apple-touch-icon-180x180.png?v=3">
    <link rel="icon" type="image/png" href="/bundles/coderdojowebsite/img/favicons/favicon-32x32.png?v=3" sizes="32x32">
    <link rel="icon" type="image/png" href="/bundles/coderdojowebsite/img/favicons/favicon-194x194.png?v=3" sizes="194x194">
    <link rel="icon" type="image/png" href="/bundles/coderdojowebsite/img/favicons/favicon-96x96.png?v=3" sizes="96x96">
    <link rel="icon" type="image/png" href="/bundles/coderdojowebsite/img/favicons/android-chrome-192x192.png?v=3" sizes="192x192">
    <link rel="icon" type="image/png" href="/bundles/coderdojowebsite/img/favicons/favicon-16x16.png?v=3" sizes="16x16">
    <link rel="manifest" href="/bundles/coderdojowebsite/img/favicons/manifest.json?v=3">
    <link rel="mask-icon" href="/bundles/coderdojowebsite/img/favicons/safari-pinned-tab.svg?v=3" color="#000000">
    <link rel="shortcut icon" href="/bundles/coderdojowebsite/img/favicons/favicon.ico?v=3">
    <meta name="apple-mobile-web-app-title" content="CoderDojo Nederland">
    <meta name="application-name" content="CoderDojo Nederland">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/bundles/coderdojowebsite/img/favicons/mstile-144x144.png?v=3">
    <meta name="msapplication-config" content="/bundles/coderdojowebsite/img/favicons/browserconfig.xml?v=3">
    <meta name="theme-color" content="#ffffff">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/headers/header1.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/responsive.css')}}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/font-awesome/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/flexslider/flexslider.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/parallax-slider/css/parallax-slider.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/layer_slider/css/layerslider.css')}}" type="text/css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/pages/page_search.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/pages/page_contact.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/pages/page_dojos.css')}}">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/themes/orange.css')}}" id="style_color">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/themes/headers/header1-orange.css')}}" id="style_color-header-1">

    <!-- jQuery -->
    <script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/jquery-1.10.2.min.js')}}"></script>
    <!-- start Mixpanel -->
    <script type="text/javascript">
        (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
            for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);

        mixpanel.init("57902588769ed6b5b2ba69e7d32329b1");

        {% if app.environment != 'prod' %}
            mixpanel.disable();
        {% endif %}
    </script>
    <!-- end Mixpanel -->
    <!-- Mailchimp -->
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us13.list-manage.com","uuid":"8ec0b28920a640e210372bee9","lid":"f763b9923d"}) })</script>
    <!-- end mailchimp -->
    <script type="text/javascript" src="https://secure.skypeassets.com/i/scom/js/skype-uri.js"></script>
</head>

<body>

<!--=== Header ===-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('home')}}">
                    <img id="logo-header" src="{{ asset('bundles/coderdojowebsite/img/logo.png')}}" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li {% if app.request.get('_route') == 'home' %}class="active"{% endif %}>
                        <a href="{{ path('home') }}">
                            Home
                        </a>
                    </li>
                    <li {% if app.request.get('_route') == 'dojos' %}class="active"{% endif %}>
                        <a href="{{ path('dojos') }}">
                            Locaties
                        </a>
                    </li>
                    <li class="dropdown {% if app.request.get('_route') in ['mentors','setup', 'material'] %}active{% endif %}">
                        <a href="{{ path('setup') }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Jouw Dojo
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.get('_route') == 'setup' %}class="active"{% endif %}>
                                <a href="{{ path('setup') }}">
                                    Start een Dojo
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'mentors' %}class="active"{% endif %}>
                                <a href="{{ path('mentors') }}">
                                    Word mentor
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'material' %}class="active"{% endif %}>
                                <a href="{{ path('material') }}">
                                    Materiaal
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown {% if app.request.get('_route') in ['codeqube','ziggo', 'eucodeweek'] %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            Samenwerkingen
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.get('_route') == 'books' %}class="active"{% endif %}>
                                <a href="{{ path('books') }}">
                                    Verdien het CoderDojo Boek
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'eucodeweek' %}class="active"{% endif %}>
                                <a href="{{ path('eucodeweek') }}">
                                    EU CodeWeek 2016
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'codeqube' %}class="active"{% endif %}>
                                <a href="{{ path('codeqube') }}">
                                    Code Qube On Tour
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'ziggo' %}class="active"{% endif %}>
                                <a href="{{ path('ziggo') }}">
                                    Ziggo
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown {% if app.request.get('_route') in ['foundation', 'about', 'contact'] %}active{% endif %}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
                            De Stichting
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li {% if app.request.get('_route') == 'newsletter' %}class="active"{% endif %}>
                                <a href="{{ path('newsletter') }}">
                                    Nieuwsbrief
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'foundation' %}class="active"{% endif %}>
                                <a href="{{ path('foundation') }}">
                                   Over de Stichting
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'about' %}class="active"{% endif %}>
                                <a href="{{ path('about') }}">
                                    Over CoderDojo
                                </a>
                            </li>
                            <li {% if app.request.get('_route') == 'contact' %}class="active"{% endif %}>
                                <a href="{{ path('contact') }}">
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li {% if app.request.get('_route') == 'slack' %}class="active"{% endif %}>
                        <a href="{{ path('slack') }}">
                            Slack Community
                        </a>
                    </li>
                    <!--
                    <li>
                        <ul class="social-icons social-icons-color">
                            <li>
                                <a href="http://facebook.com/coderdojonederland" data-original-title="Facebook" class="social_facebook" target="_blank"></a>
                            </li>
                            <li>
                                <a href="http://twitter.com/coderdojonl" data-original-title="Twitter" class="social_twitter" target="_blank"></a>
                            </li>
                            <li>
                                <a href="{{ path('slack') }}" data-original-title="Slack" class="social_slack"></a>
                            </li>
                        </ul>
                    </li>

                        <li>
                            <a href="#">
                                Start een CoderDojo
                            </a>
                        </li>
                    -->
                </ul>
            </div><!-- /navbar-collapse -->
        </div>
    </div>
</div><!--/header-->
<!--=== End Header ===-->

{% block content %}
{% endblock %}

<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 margin-bottom-30">
                <p class="copyright-space">
                    {{ 'now' | date('Y') }} &copy; CoderDojo Nederland<br/>
                    Made by
                    <a
                        href="https://github.com/coderdojonederland/website"
                        target="_blank">
                        YOU!
                    </a>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        &nbsp;|&nbsp;
                        <a href="{{ path('fos_user_profile_edit') }}">
                            Profiel Bewerken
                        </a>
                        &nbsp;|&nbsp;
                        <a href="{{ path('manage') }}">
                            Beheer Dojos
                        </a>
                    {% else %}
                        &nbsp;|&nbsp;
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        &nbsp;|&nbsp;
                        <a href="{{ path('fos_user_registration_register') }}">Registreer jouw dojo</a>
                    {% endif %}
                </p>
                <div id="SkypeButton_Call_coderdojonederland_footer">
                    <script type="text/javascript">
                        Skype.ui({
                            "name": "call",
                            "element": "SkypeButton_Call_coderdojonederland_footer",
                            "participants": ["live:contact_38802"],
                            "imageColor": "white"
                        });
                    </script>
                </div>
                <span style="color: #fff">|</span>
                <div id="SkypeButton_Chat_coderdojonederland_footer">
                    <script type="text/javascript">
                        Skype.ui({
                            "name": "chat",
                            "element": "SkypeButton_Chat_coderdojonederland_footer",
                            "participants": ["live:contact_38802"],
                            "imageColor": "white"
                        });
                    </script>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <ul class="social-icons right">
                    <li>
                        <a href="https://twitter.com/coderdojonl" data-original-title="Twitter" class="social_twitter" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/coderdojonederland" data-original-title="Facebook" class="social_facebook" target="_blank"></a>
                    </li>
                    <li>
                        <a href="{{ path('slack') }}" data-original-title="Slack" class="social_slack"></a>
                    </li>
                </ul>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/jquery-migrate-1.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/hover-dropdown.min.js')}}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/flexslider/jquery.flexslider-min.js')}}"></script>
<!-- Layer Slider -->
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/jQuery/jquery-easing-1.3.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/jQuery/jquery-transit-modified.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/js/layerslider.transitions.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/js/layerslider.kreaturamedia.jquery.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/gmap/gmap.js')}}" type="text/javascript"></script>
<!-- End Layer Slider -->
<!-- JS Page Level -->
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/js/app.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/js/pages/index.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initLayerSlider();
    });
</script>
{% block customjs %}{% endblock %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46279882-1', 'coderdojo.nl');
    ga('send', 'pageview');
</script>
<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(100946382); }catch(e){}</script>
<noscript><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100946382ns.gif" /></noscript>
<!--[if lt IE 9]>
    <script src="{{asset('bundles/coderdojowebsite/plugins/respond.js')}}"></script>
<![endif]-->
</body>
</html>
