<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>CoderDojo Nederland</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers!
Ben je ouder? Wordt dan mentor bij een Dojo of start jouw eigen CoderDojo!{% endblock %}">
    <meta name="author" content="Christian Vermeulen">

    <!-- FB tags -->
    <meta property="og:title" content="CoderDojo Nederland"/>
    <meta property="og:image" content="http://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/facebook.png')}}"/>
    <meta property="og:site_name" content="CoderDojo Nederland"/>
    <meta property="og:description" content="{% block fbdescription %}Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers!
Ben je ouder? Wordt dan mentor bij een Dojo of start jouw eigen CoderDojo!{% endblock %}"/>

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/bootstrap/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/style.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/headers/header1.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/responsive.css')}}">
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/font-awesome/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/flexslider/flexslider.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/parallax-slider/css/parallax-slider.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/plugins/layer_slider/css/layerslider.css')}}" type="text/css">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/pages/page_search.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/pages/page_contact.css')}}">
    <!-- CSS Theme -->
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/themes/orange.css')}}" id="style_color">
    <link rel="stylesheet" href="{{asset('bundles/coderdojowebsite/css/themes/headers/header1-orange.css')}}" id="style_color-header-1">
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>

<body>

<!--=== Header ===-->
<div class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('home')}}">
                    <img id="logo-header" src="{{ asset('bundles/coderdojowebsite/img/logo.png')}}" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li {% if app.request.get('_route') == 'home' %}class="active"{% endif %}>
                        <a href="{{path('home')}}">
                            Home
                        </a>
                    </li>
                    <li {% if app.request.get('_route') == 'about' %}class="active"{% endif %}>
                        <a href="{{path('about')}}">
                            Over CoderDojo
                        </a>
                    </li>
                    <li {% if app.request.get('_route') == 'dojos' %}class="active"{% endif %}>
                        <a href="{{ path('dojos') }}">
                            In de buurt
                        </a>
                    </li>
                    <!--
                        <li>
                            <a href="#">
                                Start een CoderDojo
                            </a>
                        </li>
                    -->
                </ul>
            </div><!-- /navbar-collapse -->
        </div>
    </div>
</div><!--/header-->
<!--=== End Header ===-->

{% block content %}
{% endblock %}

{#
<!--=== Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>Volgende Events</h2></div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Locatie</td>
                            <td>Datum</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Rotterdam</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>Leiden</td>
                            <td>TBA</td>
                        </tr>
                        <tr>
                            <td>Amsterdam</td>
                            <td>TBA</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--/col-md-4-->

            <div class="col-md-4 md-margin-bottom-40">
                <div class="posts">
                    <div class="headline"><h2>CoderDojo&apos;s in Nederland</h2></div>
                    <dl class="dl-horizontal">
                        <dt><a href="#"><img src="/bundles/coderdojowebsite/img/sliders/elastislide/6.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/bundles/coderdojowebsite/img/sliders/elastislide/10.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                    <dl class="dl-horizontal">
                    <dt><a href="#"><img src="/bundles/coderdojowebsite/img/sliders/elastislide/11.jpg" alt="" /></a></dt>
                        <dd>
                            <p><a href="#">Anim moon officia Unify is an incredibly beautiful responsive Bootstrap Template</a></p>
                        </dd>
                    </dl>
                </div>
            </div><!--/col-md-4-->

            <div class="col-md-4">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Nieuwsbrief</h2></div>
                <p>Schrijf je in voor de nieuwsbrief en blijf op de hoogte!</p>
                <form class="footer-subsribe">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email Address">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button">Inschrijven</button>
                        </span>
                    </div><!-- /input-group -->
                </form>

                <!-- Stay Connected -->
                <div class="headline"><h2>Vindt ons op het internet</h2></div>
                <!--
                <ul class="social-icons">
                    <li><a href="#" data-original-title="Feed" class="social_rss"></a></li>
                    <li><a href="#" data-original-title="Facebook" class="social_facebook"></a></li>
                    <li><a href="#" data-original-title="Twitter" class="social_twitter"></a></li>
                    <li><a href="#" data-original-title="Goole Plus" class="social_googleplus"></a></li>
                    <li><a href="#" data-original-title="Pinterest" class="social_pintrest"></a></li>
                    <li><a href="#" data-original-title="Linkedin" class="social_linkedin"></a></li>
                    <li><a href="#" data-original-title="Vimeo" class="social_vimeo"></a></li>
                </ul>
            -->
            </div><!--/col-md-4-->
        </div><!--/row-->
    </div><!--/container-->
</div><!--/footer-->
<!--=== End Footer ===-->
#}
<!--=== Copyright ===-->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright-space">
                    2014 &copy; CoderDojo Nederland. ALL Rights Reserved.
                </p>
            </div>
            <div class="col-md-6">
                <p class="copyright-space" style="text-align:right">Made by
                    <a href="http://www.christianvermeulen.net" target="_blank">
                        Christian Vermeulen
                    </a>
                </p>
            </div>
        </div><!--/row-->
    </div><!--/container-->
</div><!--/copyright-->
<!--=== End Copyright ===-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/jquery-1.10.2.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/jquery-migrate-1.2.1.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/bootstrap/js/bootstrap.min.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/hover-dropdown.min.js')}}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/plugins/flexslider/jquery.flexslider-min.js')}}"></script>
<!-- Layer Slider -->
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/jQuery/jquery-easing-1.3.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/jQuery/jquery-transit-modified.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/js/layerslider.transitions.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/layer_slider/js/layerslider.kreaturamedia.jquery.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/coderdojowebsite/plugins/gmap/gmap.js')}}" type="text/javascript"></script>
<!-- End Layer Slider -->
<!-- JS Page Level -->
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/js/app.js')}}"></script>
<script type="text/javascript" src="{{asset('bundles/coderdojowebsite/js/pages/index.js')}}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        App.initSliders();
        Index.initLayerSlider();
    });
</script>
{% block customjs %}{% endblock %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46279882-1', 'coderdojo.nl');
    ga('send', 'pageview');
</script>
<!--[if lt IE 9]>
    <script src="{{asset('bundles/coderdojowebsite/plugins/respond.js')}}"></script>
<![endif]-->

</body>
</html>
