{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Mentor worden &mdash; {{ parent() }}{% endblock %}

{% block fbtitle %}Mentor worden &mdash; {{ parent() }}{% endblock %}

{% block description %}Als mentor kun je veel doen bij CoderDojo. Zelfs zonder technische kennis kun je ons al helpen! Mentor zijn kent vele mooie kanten die je gegarandeerd veel plezier opleveren!{% endblock %}
{% block fbdescription %}Als mentor kun je veel doen bij CoderDojo. Zelfs zonder technische kennis kun je ons al helpen! Mentor zijn kent vele mooie kanten die je gegarandeerd veel plezier opleveren!{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/mentors/kids.jpg')}}{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Mentor Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Help jouw CoderDojo</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container privacy">

    <div class="row margin-bottom-40">
        <div class="col-md-6 col-md-push-3" style="text-align:center;">
            <h2>Word mentor bij jouw dojo!</h2>
            <p>Tof dat je ook een Dojo wilt helpen! Op deze pagina kun je lezen hoe dat in zijn werk gaat. Als je er klaar voor bent kun je contact opnement met een <a href="/dojos">dojo in de buurt</a>, zij helpen je graag verder!</p>
        </div>
    </div>

    <div class="row tag-box tag-box-v5">
        <div class="col-md-8">
            <h3>
                Ben je enthousiast en wil je mee helpen?
            </h3>
        </div>
        <div class="col-md-4">
            <p><a href="{{ path('contact') }}" class="btn-u btn-u-lg btn-u-red"><i class="icon-envelope"></i> laat het ons weten</a></p>
        </div>
    </div>

    <div class="clearfix margin-bottom-40"></div>

    <div class="row margin-bottom-30">
        <div class="col-md-6 margin-bottom-20">
            <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-home icon-bg-green icon-round"></i> Geen technische kennis nodig</h2></li></ul>
            <p>Een mentor hoeft niet per se technische kennis te hebben. Ook zonder technische kennis is er genoeg te doen bij een dojo!</p>
            <p>Denk bijvoorbeeld aan de volgende dingen:</p>
            <ul>
                <li>Ruimte klaarzetten (stoelen, tafels, stekkerdozen, drankjes)</li>
                <li>Communicatie (emails, social media, etc.)</li>
                <li>Ontvangst en registratie</li>
                <li>Promotie</li>
                <li>Samenwerkingen met andere bedrijven / organisaties regelen</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('/bundles/coderdojowebsite/img/mentors/organisatie.jpg') }}" style="width:100%;" alt="CoderDojo Community Meetup"/>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-6 margin-bottom-20">
            <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-group icon-bg-green icon-round"></i> Met kinderen aan de slag</h2></li></ul>
            <p>
                Heb je zelf w&eacute;l wat technische kennis? Dan kun je met de kinderen aan de slag. Veel van het <a href="{{ path('material') }}">lesmateriaal</a> is te vinden op de Kata of onze Google Drive.
                Hiermee kun je de kids aan het werk zetten en ze helpen als ze problemen tegen komen. Samen met de kinderen kun je dan een oplossing zoeken en toffe dingen maken!
            </p>
            <p>
                Wij kunnen je verzekeren dat je enorm veel voldoening haalt uit een middag met kinderen werken.
                De mate van creativiteit en vooral dankbaarheid die de kinderen laten zien maakt dat het ook voor mentoren altijd weer een feestje is!
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('/bundles/coderdojowebsite/img/mentors/kids.jpg') }}" style="width:100%;" alt="CoderDojo Kids"/>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-6 margin-bottom-20">
            <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-briefcase icon-bg-green icon-round"></i> Workshops Maken</h2></li></ul>
            <p>
                Heb jij een techniek / onderwerp in gedachten waar nog geen materiaal of workshop voor is?
                Dan heb je alle vrijheid om er zelf een te maken! Dit is voor mentoren presteren op de top.
                Stel je voor dat je een paar dagen aan het werk bent om een kicken workshop te maken en vervolgens ziet dat kinderen er ook &eacute;cht mee werken!
            </p>
            <p>
                Je zult ook snel zien dat andere dojos in het land er gebruik van zullen maken. Jouw bijdrage is in dat geval van onschatbare waarde.
                De champion van jouw dojo en andere mentoren kunnen je helpen bij het maken van jouw eigen workshop.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('/bundles/coderdojowebsite/img/mentors/workshop.jpg') }}" style="width:100%;" alt="CoderDojo Workshops"/>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-6 margin-bottom-20">
            <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-signal icon-bg-green icon-round"></i> Persoonlijke Ontwikkeling</h2></li></ul>
            <p>
                Een van de mooiste dingen van CoderDojo is dat je dit platform ook kan gebruiken voor je eigen ontwikkeling.
                Heb je altijd al een keer iets nieuws willen leren, maar hier geen tijd voor gehad of geen praktische mogelijkheden?
                Dan kun je bij CoderDojo de tijd nemen om jezelf dit aan te leren en deze ontdekkingstocht samen met de kinderen te maken!
            </p>
            <p>
                Op die manier leer je zelf wat nieuws &eacute;n leren de kinderen ook wat! Met name de manier van iets nieuws ontdekken
                is een competentie die voor kinderen belangrijk en leuk is.
            </p>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('/bundles/coderdojowebsite/img/mentors/ontwikkeling.jpg') }}" style="width:100%;" alt="Persoonlijke Ontwikkeling"/>
        </div>
    </div>

    <div class="row margin-bottom-30">
        <div class="col-md-6 margin-bottom-20">
            <ul style="list-style-type:none;margin:0;padding:0;"><li><h2><i class="icon-bullhorn icon-bg-green icon-round"></i> Community Evenementen</h2></li></ul>
            <p>
                Als mentor en onderdeel van de community kun je regelmatig deel nemen aan activiteiten door het hele land en soms zelfs daarbuiten.
                We hebben regelmatig conferenties, speciale dojo&apos;s en evenementen waar we mensen van het hele land nodig hebben. Denk bijvoorbeeld aan:
            </p>
            <ul>
                <li><a href="http://mega.coderdojo.nl" target="_blank">MegaDojo</a></li>
                <li><a href="http://coolestprojects.org">Coolest Projects</a></li>
                <li><a href="http://dojocon.coderdojo.com/">DojoCon</a></li>
                <li>Elk kwartaal een Mentor Meetup NL</li>
                <li>Conferenties als Microsoft Tech Days, SalesForce World Tour, etc.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{{ asset('/bundles/coderdojowebsite/img/mentors/community.jpg') }}" style="width:100%;" alt="CoderDojo Community Meetup"/>
        </div>
    </div>

    <div class="row tag-box tag-box-v5">
        <div class="col-md-8">
            <h3>
                Ben je enthousiast geworden en wil je mee helpen?
            </h3>
        </div>
        <div class="col-md-4">
            <p><a href="{{ path('contact') }}" class="btn-u btn-u-lg btn-u-red"><i class="icon-envelope"></i> laat het ons weten</a></p>
        </div>
    </div>

    <div class="clearfix margin-bottom-40"></div>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}