{% extends "::index_v2.html.twig" %}

{% block title %}EU CodeWeek 2019 &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Eu CodeWeek 2019 &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('img/codeweek2019/header.png')}}{% endblock %}

{% block description %}
    Van 5 tot en met 20 oktober is het weer tijd voor de EU CodeWeek! Bekijk hier wat er gebeurd in CoderDojo-land.
{% endblock %}

{% block fbdescription %}
    Van 5 tot en met 20 oktober is het weer tijd voor de EU CodeWeek! Bekijk hier wat er gebeurd in CoderDojo-land.
{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ asset('/bundles/coderdojowebsite/img/headers/header_13.jpg') }});">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Doe jij ook mee?</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">EU CodeWeek 2019</h2>
            </header>

            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    Home
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    EU CodeWeek 2019
                </li>
            </ul>
        </div>
    </section>
    <!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<section class="col-lg-12 g-my-40">
    <div class="container">
        <div class="row g-mb-30">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-md-8 col-sm-12 text-center margin-bottom-10">
                <img class="img-fluid" src="{{ asset('img/codeweek2019/results.png') }}" alt="CodeWeek 2019 Resultaten">
            </div>
        </div>
        <div class="row g-mb-30">
            <div class="col-md-2 hidden-sm"></div>
            <div class="col-md-8 col-sm-12 text-center margin-bottom-10">
                <p class="g-mb-20">
                    Sinds 2013 vind jaarlijks de EU CodeWeek plaats. Deze wordt altijd in oktober gepland en valt dit jaar
                    van 5 tot en met 20 oktober. Deze week is in het leven geroepen om meer aandacht te vestigen
                    op de mogelijkheden van programmeren en hoe je hiermee creatieve ideeen en concepten tot leven kan wekken.
                </p>
                <p class="g-mb-20">
                    Dit jaar is ook CoderDojo Nederland ambassadeur van de EU CodeWeek en sporen wij al onze dojo's aan om
                    hierbij aan te sluiten met hun events. Op deze pagina kun je zien wat er zoal in CoderDojo-land gebeurt
                    tijdens deze week.
                </p>
                <p class="text-center">
                    <a href="http://codeweek.eu" target="_blank" class="btn btn-lg u-btn-orange g-mr-10 g-mb-15">Meer info op codeweek.eu&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="headline">
                    <h2>Wat is de EU CodeWeek?</h2>
                </div>
                <div class="embed-responsive embed-responsive-16by9 g-mb-30">
                    <iframe width="100%" src="//www.youtube.com/embed/TNwE3FA4pdI" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="headline">
                    <h2>Waar is de EU CodeWeek?</h2>
                </div>
                <p class="margin-bottom-20">Tijdens de EU CodeWeek staan de volgende events gepland:</p>
                <table class="table">
                    <tbody>
                        {% for event in events %}
                            <tr {% if date() > event.date %}class="text-muted"{% endif %}>
                                <td><strong>{{ event.date|localizeddate('medium', 'none', 'nl_NL', 'Europe/Amsterdam', 'EEEE d MMMM') }}</td>
                                <td>CoderDojo {{ event.dojo.city|capitalize }}</strong></td>
                                <td>
                                    {% if date() <= event.date %}
                                        <a href="{{ event.url }}" class="btn btn-success btn-xs">inschrijven</a>
                                    {% else %}
                                        <span class="label label-default label-xs">Voorbij</span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/container-->
</section>
<!--=== End Content Part ===-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
