{% extends "::index_v2.html.twig" %}

{% block title %}Dojo&apos;s in Nederland &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Dojo&apos;s in Nederland &mdash; {{ parent() }}{% endblock %}

{% block description %}
  In heel Nederland zijn er inmiddels {{ nlDojoCount }} dojo's. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
  In heel Nederland zijn er inmiddels {{ nlDojoCount }} dojo's. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block og_image %}http://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/fb_dojos.png')}}{% endblock %}

{% block customcss %}
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block customjs %}

  <script>
    window.dojos = {};
    {% for dojo in dojos %}
        {% set next = dojo|nextEvent %}

        dojos[{{dojo.id}}] = {
            id:           {{dojo.id}},
            name:         "{{dojo.name}}",
            city:         "{{dojo.city}}",
            twitter:      "{{dojo.twitter}}",
            website:      "{{dojo.website}}",
              {% if next %}
              nextUrl:        "{{ next.url }}",
              nextDate:       "{{ next.date|date('d/m/Y') }}",
              {% endif %}
            geo: {
              lat: {{dojo.lat}},
              long: {{dojo.lon}}
            }
        };
    {% endfor %}

    function trackRegisterClickEvent() {
        ga('send', 'event', 'dojo_interest', 'register_from_dojopage');
    }

    function trackSwitchDojoListEvent() {
        ga('send', 'event', 'dojo_interest', 'switch_to_dojo_list');
    }

    function trackSwitchEventListEvent() {
        ga('send', 'event', 'dojo_interest', 'switch_to_event_list');
    }

    function trackDojoEmailClickEvent() {
        ga('send', 'event', 'dojo_interest', 'dojo_email_click');
    }

    function trackDojoWebsiteClickEvent() {
        ga('send', 'event', 'dojo_interest', 'dojo_website_click');
    }

    function trackDojoTwitterClickEvent() {
        ga('send', 'event', 'dojo_interest', 'dojo_twitter_click');
    }
  </script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <script src="{{ asset('assets/js/dojos.js') }}"></script>
{% endblock customjs %}

{% block content %}
<div class="content-wrapper">
    <div class="reset hidden-xs"></div>
    <div class="dojos">
        <div class="card card-outline-orange rounded-0">
            <ul class="nav nav-tabs text-white g-bg-primary g-brd-transparent rounded-0">
                <li role="presentation" class="g-font-weight-800 g-pa-20" data-tab-ref="upcoming-dojos">
                    <a href="#" onclick="trackSwitchEventListEvent()"><i class="icon-calendar"></i>&nbsp;&nbsp;Agenda</a>
                </li>
                <li role="presentation" class="g-pa-20" data-tab-ref="all-dojos">
                    <a href="#" onclick="trackSwitchDojoListEvent()"><i class="icon-list"></i>&nbsp;&nbsp;Locaties</a>
                </li>
            </ul>

            <div class="card-block">
                <div class="row search-row">
                    <div class="col-12">
                        <input type="text" class="form-control input-lg" id="city-search" placeholder="Filter locatie">
                    </div>
                </div>
            </div>

            <div class="card-block" id="dojoeventlist" data-js-ref="list-upcoming-dojos">
                <!-- various dojo rows -->
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Locatie</th>
                                <th>Datum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <div class="alert alert-danger g-mb-20">
                            ⚠️ <strong>Let op:</strong> Wegens COVID-19 zijn alle dojo's afgelast! Ondertussen worden er wel <a href="{{ url('online') }}">online dojo's georganiseerd</a>.
                        </div>
                        {#
                        {% if nextdojos|length > 0 %}
                        {% for event in nextdojos %}
                            <tr class="dojo-row" data-dojo-id="{{event.dojo.id}}" data-dojo-city="{{ event.dojo.city }}">
                                <td>
                                    <strong>{{event.dojo.city|capitalize}}</strong>
                                </td>
                                <td>
                                    {{ event.date|localizeddate('none', 'none', 'nl_NL', null, "d MMMM Y")}}
                                </td>
                                <td>
                                    {% if event.eventType == 'zen' %}
                                        <a href="{{ event.dojo.zenUrl }}" target="_blank" class="btn btn-success btn-sm" data-dojo-date="{{ event.date|date('Y/m/d') }}" data-dojo="{{ event.dojo.name }}" onclick="trackRegisterClickEvent()"><span class="fa fa-arrow-right"></span></a>
                                    {% else %}
                                        <a href="{{ event.url }}" target="_blank" class="btn btn-success btn-sm" data-dojo-date="{{ event.date|date('Y/m/d') }}" data-dojo="{{ event.dojo.name }}" onclick="trackRegisterClickEvent()"><span class="fa fa-arrow-right"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        {% else %}
                            <div class="row">
                                <div class="col-xs-12">
                                    <p class="empty">
                                        Er zijn momenteel geen edities gepland
                                    </p>
                                </div>
                            </div>
                        {% endif %}
                        #}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-block g-hidden-xs-up" id="dojolist" data-js-ref="list-all-dojos">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Locatie</th>
                            <th>Gegevens</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for dojo in dojos %}
                                <tr class="dojo-row" data-dojo-id="{{dojo.id}}" data-dojo-city="{{ dojo.city }}">
                                    <td>
                                        <p><strong>{{dojo.name}}</strong></p>
                                    </td>
                                    <td>
                                        <p>
                                            <a href="mailto:{{ dojo.email }}" title="Email" onclick="trackDojoEmailClickEvent()"><i class="fa fa-envelope"></i></a>&nbsp;
                                            <a href="{{ dojo.website }}" title="Website" onclick="trackDojoWebsiteClickEvent()"><i class="fa fa-globe"></i></a>&nbsp;
                                            <a href="http://twitter.com/{{ dojo.twitter }}" title="Twitter" onclick="trackDojoTwitterClickEvent()"><i class="fa fa-twitter"></i></a>&nbsp
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="all-dojos-map" class="map all-dojos hidden-xs"></div>
</div>

{% endblock %}
