{% extends "::index_v2.html.twig" %}
{% from 'Pages/workshop_card.html.twig' import workshop_card %}

{% block title %}DojoCon NL 2023 - 10 jaar CoderDojo Nederland &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}DojoCon NL 2023 - 10 jaar CoderDojo Nederland &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Op zaterdag 25 november organiseren we voor de vierde keer DojoConNL! We vieren met elkaar het 10 jarig bestaan van
    CoderDojo in Nederland met een fantastisch programma. We zijn dit jaar te gast bij de Koninklijke Bibliotheek in Den Haag.
{% endblock %}

{% block fbdescription %}
    Op zaterdag 25 november organiseren we voor de vierde keer DojoConNL! We vieren met elkaar het 10 jarig bestaan van
    CoderDojo in Nederland met een fantastisch programma. We zijn dit jaar te gast bij de Koninklijke Bibliotheek in Den Haag.
{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('/img/dojocon2023/fb_share.jpeg')}}{% endblock %}

{% block content %}

    <section class="u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after" style="background-image: url('/img/dojocon2019/group.jpg');">
        <div class="container u-bg-overlay__inner text-center g-pt-195 g-pb-70">
            <div class="g-mb-170">

            </div>

            <div class="g-pos-abs g-left-0 g-right-0 g-z-index-2 g-bottom-30">
                <a class="js-go-to btn u-btn-outline-white g-color-white g-bg-white-opacity-0_1 g-color-black--hover g-bg-white--hover g-font-weight-600 text-uppercase g-rounded-50 g-px-30 g-py-11" href="#" data-target="#content">
                    <i class="fa fa-angle-down"></i>
                </a>
            </div>
        </div>
    </section>

    <!-- Other header -->
    <section class="g-flex-centered g-mt-60 g-mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 center">
                    <header class="text-center">
                        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                            <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">DojoCon NL 2023 &dash; 10 jaar CoderDojo Nederland
                            </h2>
                        </div>
                        <p class="lead g-px-200--lg">
                            🇳🇱<br/>
                            Op zaterdag 25 november organiseren we voor de vierde keer DojoConNL! We vieren met elkaar het
                            10 jarig bestaan van CoderDojo in Nederland met een fantastisch programma. We zijn dit jaar te
                            gast bij de Koninklijke Bibliotheek in Den Haag.
                        </p>
                        <p class="lead g-px-200--lg">
                            We bieden je een dag vol gezelligheid, interessante sprekers en toffe workshops. En dankzij
                            geweldige donaties van StitPro, Experts Live Netherlands en de Koninklijke Bibliotheek kun je gratis deelnemen.
                        </p>
                        <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                            <p class="p-0 m-0">&nbsp;</p>
                        </div>
                        <p class="lead g-px-200--lg">
                            🇬🇧<br/>
                            <span class="font-italic">
                                On Saturday, November 25th, we organize DojoConNL for the fourth time!
                                We celebrate our 10-year-anniversary in the Netherlands with a fantastic lineup.
                                This year we will be hosted by the Royal Library in The Hague.
                            </span>
                        </p>
                        <p class="lead g-px-200--lg">
                            <span class="font-italic">We offer you a day full of fun, interesting speakers and great workshops. And thanks to
                            our great sponsors StitPro, Experts Live Netherlands and the Royal Library you can participate for free.</span>
                        </p>
                        <p class="g-mt-30 text-center">
                            <a href="https://www.eventbrite.nl/myevent?eid=723908087577" class="btn btn-xxl btn-primary"><i class="fa fa-ticket"></i>&nbsp;&nbsp;Gratis Inschrijven</a>
                        </p>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <!-- end other header -->

    <section class="g-bg-secondary">
        <div class="container">
            <div class="row g-py-50">
                <div class="col-lg-6 align-self-center g-mb-20 g-mb-0--lg">

                    <div class="media g-mb-20">
                        <div class="d-flex align-self-center mr-4">
                                    <span class="d-block g-color-primary g-font-size-38">
                                      <i class="icon-calendar"></i>
                                    </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h4 mb-0">Zaterdag 25 november 2023</h3>
                            <p><small>09.30h - 17.00h</small></p>
                        </div>
                    </div>

                    <div class="media g-mb-20">
                        <div class="d-flex align-self-center mr-4">
                                    <span class="d-block g-color-primary g-font-size-38">
                                      <i class="icon-location-pin"></i>
                                    </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h4 mb-0">Koninklijke Bibliotheek Den Haag</h3>
                            <p><small>Prins Willem-Alexanderhof 5, 2595 BE Den Haag</small></p>
                        </div>
                    </div>

                    <div class="media g-mb-20">
                        <div class="d-flex align-self-center mr-4">
                                    <span class="d-block g-color-primary g-font-size-38">
                                      <i class="icon-book-open"></i>
                                    </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h4 mb-0">2 (Internationale) sprekers & 8 workshops</h3>
                        </div>
                    </div>

                    <div class="media g-mb-20">
                        <div class="d-flex align-self-center mr-4">
                                    <span class="d-block g-color-primary g-font-size-38">
                                      <i class="icon-food-001"></i>
                                    </span>
                        </div>
                        <div class="media-body align-self-center">
                            <h3 class="h4 mb-0">Koffie / Thee, Lunch, Borrel inbegrepen</h3>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <!--<img class="img-fluid" src="../../assets/img-temp/600x330/img1.png" alt="Image Description">-->
                    <img class="img-fluid" src="{{ asset('/img/dojocon2019/header.jpg') }}" alt="DojoCon NL 2021">
                </div>
            </div>
        </div>
    </section>

    <section class="dzsparallaxer auto-init height-is-based-on-content">
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 g-bg-size-cover u-bg-overlay g-bg-black-opacity-0_7--after" style="height: 140%; background: url(/img/dojocon2019/countdown.jpg)"></div>
        <!-- End Parallax Image -->

        <div class="container u-bg-overlay__inner g-py-100">
            <div class="text-center g-color-white g-mb-60">
                <h2 class="h4">Zaterdag 25 november 2023</h2>
            </div>

            <div class="js-countdown u-countdown-v4 g-color-white text-center" data-end-date="2023/11/25" data-month-format="%m" data-days-format="%D" data-hours-format="%H" data-minutes-format="%M" data-seconds-format="%S">
                <div class="d-inline-block g-px-40 g-mx-15 g-mb-30">
                    <div class="js-cd-days g-font-size-45 g-font-weight-300 g-line-height-1 mb-0"></div>
                    <span>Dagen</span>
                </div>

                <div class="d-inline-block g-px-40 g-mx-15 g-mb-30">
                    <div class="js-cd-hours g-font-size-45 g-font-weight-300 g-line-height-1 mb-0"></div>
                    <span>Uren</span>
                </div>

                <div class="d-inline-block g-px-40 g-mx-15 g-mb-30">
                    <div class="js-cd-minutes g-font-size-45 g-font-weight-300 g-line-height-1 mb-0"></div>
                    <span>Minuten</span>
                </div>

                <div class="d-inline-block g-px-40 g-mx-15 g-mb-30">
                    <div class="js-cd-seconds g-font-size-45 g-font-weight-300 g-line-height-1 mb-0"></div>
                    <span>Seconden</span>
                </div>
            </div>
        </div>
    </section>

    <section class="g-flex-centered">
        <div class="container">
            <header class="text-center g-mb-60 g-mt-60">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Programma</h2>
                </div>
            </header>
            <div class="row">
                <div class="col-md-3 hidden-sm"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="table-responsive g-mb-50">
                        <table class="table table-bordered table-hover u-table--v2 text-center text-uppercase g-col-border-side-0">
                            <thead>
                            <tr class="g-bg-primary g-color-white g-col-border-top-0">
                                <th class="g-brd-white-opacity-0_1" colspan="2">Zaterdag 29 Oktober</th>
                            </tr>
                            </thead>

                            <tbody class="g-font-size-12 g-color-black-opacity-0_6 g-font-weight-600">
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">09.30 - 10.00</th>
                                    <td>
                                        Inloop, badge ophalen,<br/>inschrijven workshops, koffie
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">10.00 - 10.15</th>
                                    <td>
                                        Welkom
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">10.15 - 11.00</th>
                                    <td>
                                        Keynote speaker 1
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">11.00 - 11.15</th>
                                    <td>
                                        Koffie / thee
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">11.15 - 12.15</th>
                                    <td>
                                        Workshop ronde 1
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">12.15 - 13.00</th>
                                    <td>
                                        <b>Lunch</b>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">13.00 - 14.00</th>
                                    <td>
                                        Keynote speaker 2
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">14.00 - 15.00</th>
                                    <td>
                                        Workshop ronde 2
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">15.00 - 15.15</th>
                                    <td>
                                        Koffie / thee
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">15.15 - 16.15</th>
                                    <td>
                                        Workshop ronde 3
                                    </td>
                                </tr>
                                <tr>
                                    <th class="g-color-black-opacity-0_8" scope="row">16.15 - 17.00</th>
                                    <td>
                                        Afsluiting / borrel
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="g-flex-centered g-bg-secondary">
        <div class="container">
            <header class="text-center g-mb-60 g-mt-60">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Sprekers</h2>
                </div>
            </header>
            <div class="shortcode-html">
                <!-- Team Block -->
                <div class="row">
                    <div class="col-sm-2 g-mb-60"></div>
                    <div class="col-sm-4 g-mb-60">
                        <!-- Figure -->
                        <figure class="text-center">
                            <!-- Figure Image -->
                            <div class="d-block mx-auto rounded-circle g-max-width-200 g-bg-white g-pa-5 g-mb-15">
                                <img class="rounded-circle g-max-width-190" src="{{ asset('/img/dojocon2023/philip.jpeg') }}" alt="Philip Colligan">
                            </div>
                            <!-- End Figure Image -->

                            <!-- Figure test -->
                            <div class="g-mb-15">
                                <h4 class="h4 g-color-black g-mb-5">Philip Colligan</h4>
                                <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Chief Executive Officer at Raspberry Pi Foundation</em>
                            </div>
                            <p>T.B.A.</p>
                            <!-- End Info -->

                            <!-- Figure Social Icons -->
                            <ul class="text-center list-inline mb-0">
                                <li class="list-inline-item g-mx-4">
                                    <a href="https://twitter.com/philipcolligan" class="u-icon-v3 u-icon-size--sm g-bg-gray-light-v5 g-color-gray-light-v2 g-bg-primary--hover g-color-white--hover rounded-circle">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item g-mx-4">
                                    <a href="https://www.linkedin.com/in/philip-colligan-8a218723/" class="u-icon-v3 u-icon-size--sm g-bg-gray-light-v5 g-color-gray-light-v2 g-bg-primary--hover g-color-white--hover rounded-circle">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figure>
                        <!-- End Figure -->
                    </div>

                    <div class="col-sm-4 g-mb-60">
                        <!-- Figure -->
                        <figure class="text-center">
                            <!-- Figure Image -->
                            <div class="d-block mx-auto rounded-circle g-max-width-200 g-bg-white g-pa-5 g-mb-15">
                                <img class="rounded-circle g-max-width-190" src="{{ asset('/img/dojocon2023/ben.jpeg') }}" alt="Ben Garside">
                            </div>
                            <!-- End Figure Image -->

                            <!-- Figure Info -->
                            <div class="g-mb-15">
                                <h4 class="h4 g-color-black g-mb-5">Ben Garside</h4>
                                <em class="d-block g-font-style-normal g-font-size-11 text-uppercase g-color-primary">Learning Manager at Raspberry Pi Foundation</em>
                            </div>
                            <p>T.B.A.</p>
                            <!-- End Info -->

                            <!-- Figure Social Icons -->
                            <ul class="text-center list-inline mb-0">
                                <li class="list-inline-item g-mx-4">
                                    <a href="https://www.linkedin.com/in/ben-garside-79b62b134?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BHgII%2FJQARmypB%2FEBlAhTOA%3D%3D" class="u-icon-v3 u-icon-size--sm g-bg-gray-light-v5 g-color-gray-light-v2 g-bg-primary--hover g-color-white--hover rounded-circle">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Figure Social Icons -->
                        </figure>
                        <!-- End Figure -->
                    </div>
                </div>
                <!-- End Team Block -->
            </div>
        </div>
    </section>

    <section class="g-flex-centered">
        <div class="container">
            <!-- Life at Heading -->
            <header class="text-center g-mb-60 g-mt-60">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Workshops</h2>
                </div>
            </header>
            <!-- End Life at Heading -->
            <div id="accordion-workshops" class="u-accordion g-mb-60" role="tablist" aria-multiselectable="true">

                {{ workshop_card(
                    '01',
                    asset('/img/dojocon2019/workshop-cdnl.jpg'),
                    'AMA',
                    'Bestuur CoderDojo NL met Philip Colligan',
                    "Heb je vragen over het runnen van je dojo? Wil je een idee toetsen? Heb je suggesties of verbeteringen? Het bestuur van CoderDojo Nederland en Philip Colligan van de Raspberry Pi Foundation zitten klaar voor je! Andersom heeft het bestuur ook vragen voor jou! Hoe ziet jouw dojo er uit? Hoe regel jij bepaalde dingen? Kortom, deze workshop staat in het teken van een dialoog tussen dojo's en de landelijke stichting. We willen onderlinge kennisdeling stimuleren en iedereen die moeite heeft of vastzit, verder helpen."
                ) }}

                {{ workshop_card(
                    '02',
                    asset('/img/dojocon2023/microbit.png'),
                    'Microbit en AI',
                    'Pauline Maas en Peter Heldens',
                    "<b>Ontdek de Wereld van AI en Machine Learning met de micro:bit</b><br/>
Welkom bij onze workshop over AI en ChatGPT met de micro:bit! Ben je klaar om een reis te maken naar de spannende wereld van kunstmatige intelligentie met dit kleine wonder van technologie?
<br/><br/>
<b>Wat kun je verwachten?</b><br/>
Tijdens deze workshop zul je versteld staan van de inspirerende projecten die Peter Heldens heeft gecreëerd met behulp van de micro:bit en AI. Zijn creatieve toepassingen zullen je zeker inspireren en je laten zien wat er allemaal mogelijk is met deze krachtige combinatie. Na deze boeiende presentatie neemt Pauline Maas het over en ga je zelf aan de slag. Ze zal je begeleiden bij het uitvoeren van praktische projecten die je direct kunt toepassen in je eigen CoderDojo-sessies. Met Pauline aan je zijde zul je ontdekken hoe je de micro:bit kunt gebruiken voor boeiende AI- en machine learning-projecten.
<br/><br/>
<b>Een Bron van Ervaring</b><br/>
Peter Heldens en Pauline Maas hebben jarenlange ervaring en zijn de auteurs van \"The Invent to Learn Guide to the micro:bit,\" dat 30 inspirerende projecten bevat. Dit boek is in het voorjaar van 2023 uitgebracht en dient als een waardevolle bron voor iedereen die geïnteresseerd is in innoveren met de micro:bit.
"
                ) }}

                {{ workshop_card(
                    '03',
                    asset('/img/dojocon2019/workshop-cdnl.jpg'),
                    'Bouw je Bep',
                    'Niels en Joël',
                    "Uitdagend, innovatief en spelenderwijs leren over techniek! BEP is een uniek bouwpakket waarmee je ontdekt dat in iedereen een techneut of programmeur schuilt! Je bouwt zelfstandig een robot, geeft een mooi uiterlijk en programmeert emoties. BEP prikkelt de belevingswereld van kinderen en laat hen met diverse aspecten kennismaken van technologie. Voor BEP is geen technische kennis vereist. Iedereen kan instappen en aan de slag!"
                ) }}

                {{ workshop_card(
                    '04',
                    asset('/img/dojocon2019/workshop-cdnl.jpg'),
                    'Experience AI',
                    'Ben Garside',
                    "In this session you will get hands on and create your very own machine learning model and AI application. Using the free online tool Machine Learning for kids you will train and test a model before importing it into Scratch to build an application that uses the model."
                ) }}

                {{ workshop_card(
                    '05',
                    asset('/img/dojocon2019/workshop-cdnl.jpg'),
                    'Microblocks en AppInventor',
                    'Peter Mathijssen',
                    "App Inventor is een programma waarmee Android apps kunnen worden gemaakt. Voor het maken van apps met App Inventor hoeft geen programmeercode te worden getypt: de apps worden gebouwd met blokken die net zoals Lego in elkaar kunnen worden geklikt. App Inventor, werkt volledig online, in een browser, hoewel er ook versies van App Inventor zijn die je offline kunt gebruiken. Een Android of iOS device zoals een smartphone of tablet, kan via wifi worden verbonden met App Inventor waardoor tijdens het programmeren direct het resultaat te zien is en uitgeprobeerd kan worden! Voor Android kan er een installeerbaar bestand worden gemaakt of apps kunnen worden geüpload naar Google Play. iOS apps kunnen alleen worden uitgeprobeerd met behulp van de companion.
<br/><br/>
MicroBlocks is een gratis, Scratch-achtige programmeertaal voor het leren omgaan met microcontrollers zoals de micro:bit, Raspberry Pi Pico, Adafruit Circuit Playground Express en vele anderen.<br/>
Hoewel er andere bloktalen voor microcontrollers zijn, onderscheidt MicroBlocks zich door de mogelijkheid van live programmeren. MicroBlocks is online en offline te gebruiken en is als installatiebestand maar 10 MB groot, dus werkt prima op oudere hardware. Er zijn offline versies voor Windows, Linux, MacOS en Raspberry Pi.
"
                ) }}

                {{ workshop_card(
                    '06',
                    asset('/img/dojocon2023/rob.jpeg'),
                    'Lesgeven aan ninja\'s',
                    'Rob Timmermans',
                    "Mijn naam is Rob Timmermans. In het dagelijks leven leid ik docenten op voor exacte vakken, waaronder techniek. In mijn vrije tijd ben ik mentor bij de CoderDojo in Bergen op Zoom.
<br/><br/>
Alhoewel een bijeenkomst van de CoderDojo heel anders verloopt dan een les op school, zijn er wel degelijk overeenkomsten. Zeker voor wat betreft de omgang met de ninja’s.
<br/><br/>
In deze workshop zet ik uiteen welke overlap er is en verkennen we samen wat je kunt lenen van het 'normale lesgeven'."
                ) }}

                {{ workshop_card(
                    '07',
                    asset('/img/dojocon2023/johan.jpeg'),
                    'LEGO Serious Play',
                    'Johan Koning',
                    "Met een achtergrond in vastgoed in de zorg ontdekte Johan Koning dat zijn passie ligt in de ontwikkeling van mensen. Mensen zijn veel interessanter dan gebouwen.
En nadat hij zijn eigen functie in een workshop over dagbesteding voor
verstandelijk gehandicapten overbodig maakte (het zorgpersoneel vroeg om een nieuw gebouw, maar ze hadden een andere manier van werken nodig om hun cliënten te benaderen), startte Johan zijn eigen bedrijf in training en coaching.
Gespecialiseerd in onbewust leren en provocerend coachen, werkt hij nu samen met zorgorganisaties aan het aanpassen van zorgtechnologie. En traint hij medewerkers in de zorg in het verbeteren van hun digitale vaardigheden. Zodat zij weer plezier in hun werk hebben.
Eén van de technieken uit Johan’s gereedschapskist is LEGO® SERIOUS PLAY®.
Leren is het meest effectief als ideeën, gevoelens en acties allemaal worden
benut. Het basiselement van leren met LEGO® SERIOUS PLAY® is de hand-
breinverbinding. Door onze handen te gebruiken, kunnen we onze hersenen in een staat van leren brengen. En LEGO® SERIOUS PLAY® creëert een 100/100 meeting waaraan alle deelnemers bijdragen. In deze staat van leunen zal een LEGO® SERIOUS PLAY®-sessie nieuwe kennis naar boven brengen, zodat er een denkpatroon ontstaat.
In de LEGO® SERIOUS PLAY® sessie faciliteert Johan Koning het verkennen van innovatief leren door gebruik te maken van LEGO® stenen en de kennis die in de ruimte aanwezig is. Op een manier waarop je het leren kunt ervaren door te spelen, te verkennen en verhalen te vertellen.
"
                ) }}

                {{ workshop_card(
                    '08',
                    asset('/img/dojocon2023/sean.jpeg'),
                    'Onlogic',
                    'Sean Larkin en Andrew Overheid',
                    ""
                ) }}
            </div>
        </div>
    </section>

    <section class="g-flex-centered g-bg-secondary">
        <div class="container">
            <header class="text-center g-mb-60 g-mt-60">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Locatie - De Koninklijke Bibliotheek Den Haag</h2>
                    <p>Prins Willem-Alexanderhof 5, 2595 BE Den Haag</p>
                </div>
            </header>
            <div class="shortcode-html">
                <!-- Icon Blocks -->
                <div class="row">
                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                  <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                    <i class="fa fa-car"></i>
                  </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Parkeren</h3>
                                <p class="g-color-gray-dark-v4"><a href="https://www.denhaag.nl/nl/parkeren/waar-parkeren-en-kosten.htm" target="_blank">https://www.denhaag.nl/nl/parkeren/waar-parkeren-en-kosten.htm</a></p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                  <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                    <i class="fa fa-train"></i>
                  </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Trein</h3>
                                <p class="g-color-gray-dark-v4">Pak de trein naar station Den Haag Centraal en loop 300 meter</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                  <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                    <i class="fa fa-plane"></i>
                  </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Plane</h3>
                                <p class="g-color-gray-dark-v4">Fly to Amsterdam Schiphol. Travel by train to The Hague Central Station in about 30 minutes
                                </p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </section>
    <section class="g-flex-centered g-bg-secondary">
        <div class="dojocon-mapbox" id="dojocon-mapbox" style="width: 100%;height: 500px;"></div>
    </section>

    <section class="g-flex-centered">
        <div class="container">
            <header class="text-center g-mb-30 g-mt-60">
                <div class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h3 text-uppercase g-font-weight-300 u-heading-v2__title">Partners & Sponsers</h2>
                </div>
            </header>
            <div class="shortcode-html">
                <!-- Team Block -->
                <div class="row">
                    <div class="col-lg-3 hidden-sm"></div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/stitpro.jpg') }}" alt="StitPro">
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/de-nieuwe-bibliotheek.jpg') }}" alt="De nieuwe bibliotheek">
                    </div>

                    <div class="col-lg-3 hidden-sm"></div>
                </div>
                <div class="row">
                    <div class="col-lg-3 hidden-sm"></div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/bergler.png') }}" alt="Bergler">
                    </div>

                    <div class="col-lg-3 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/bieb_kennemerwaard.jpg') }}" alt="Bibliotheek Kennemerwaard">
                    </div>

                    <div class="col-lg-3 hidden-sm"></div>
                </div>
                <div class="row">
                    <div class="col-lg-1 hidden-sm"></div>
                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2019/logo-juniorit.png') }}" alt="Junior IT">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/4pip.jpg') }}" alt="4Pip">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/bouw-je-bep.jpg') }}" alt="Bouw je bep">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/cdnl.jpg') }}" alt="CoderDojo Nederland">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/coderdojo-fdn.jpg') }}" alt="CoderDojo Foundation">
                    </div>
                    <div class="col-lg-1 hidden-sm"></div>
                </div>
                <div class="row">
                    <div class="col-lg-2 hidden-sm"></div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/rpi.jpg') }}" alt="Raspberry Pi Foundation">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/app-inventor.jpg') }}" alt="App Inventor">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/mindstorms.jpeg') }}" alt="Lego Mindstorms">
                    </div>

                    <div class="col-lg-2 col-sm-6 g-mb-30">
                        <img class="img-fluid" src="{{ asset('/img/dojocon2022/astro-pi.jpg') }}" alt="Astro Pi">
                    </div>

                    <div class="col-lg-2 hidden-sm"></div>
                </div>
                <!-- End Team Block -->
            </div>

        </div>
    </section>
{% endblock %}
{% block customcss %}
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block customjs %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <script type="application/javascript">
        (function(){
            mapboxgl.accessToken = 'pk.eyJ1IjoiY29kZXJkb2pvbmwiLCJhIjoiY2o4N2QxaTc3MHp3ZTMybXAzMjRoMGM0ZyJ9.AxmqSifIHD8776sMIDpZcg';

            var mapOptions = {
                container: 'dojocon-mapbox',
                //style: 'mapbox://styles/coderdojonl/cjidfvej506vb2spnj0fb21ga',
                style: 'mapbox://styles/mapbox/streets-v9',
                minZoom: 5,
                maxZoom: 15,
                center: [4.3279921, 52.0809988],
                zoom: 13,
                scrollZoom: false,
                pitchWithRotate: false
            };

            // setup the map
            this.map = new mapboxgl.Map(mapOptions);

            var nav = new mapboxgl.NavigationControl();
            this.map.addControl(nav, 'top-left');

            new mapboxgl.Marker()
                .setLngLat([4.3279921, 52.0809988])
                .addTo(this.map);

            var countdowns = $.HSCore.components.HSCountdown.init('.js-countdown', {
                yearsElSelector: '.js-cd-years',
                monthElSelector: '.js-cd-month',
                daysElSelector: '.js-cd-days',
                hoursElSelector: '.js-cd-hours',
                minutesElSelector: '.js-cd-minutes',
                secondsElSelector: '.js-cd-seconds'
            });
        }());
    </script>
{% endblock %}
