{% extends "::index_v2.html.twig" %}

{% block content %}
    <section class="u-bg-overlay g-bg-img-hero g-bg-bluegray-opacity-0_3--after" style="background-image: url(/bundles/coderdojowebsite/img/headers/header_13.jpg);">
        <div class="container u-bg-overlay__inner text-center g-pt-150 g-pb-20">
            <div class="g-mb-100">
                <span class="d-block g-color-white g-font-size-20 text-uppercase g-letter-spacing-5 mb-4">Gratis leren programmeren</span>
                <h1 class="g-color-white g-font-weight-700 g-font-size-20 g-font-size-50--md text-uppercase g-line-height-1_2 g-letter-spacing-10 mb-4">Voor Kinderen In Heel Nederland</h1>
                <!--<span class="d-block lead g-color-white g-letter-spacing-2">Kom jij ook mee doen?</span>-->
                <p class="g-mt-50">
                    <a href="{{ path('donate') }}" class="btn btn-primary btn-l g-mb-20">
                        <i class="fa fa-money"></i>
                        &nbsp;&nbsp;Doneren&nbsp;&nbsp;
                    </a>&nbsp;&nbsp;
                    <a class="js-go-to btn btn-primary btn-l g-mb-20" href="#" data-target="#content">
                        <i class="fa fa-book"></i>
                        &nbsp;&nbsp;Meer informatie&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </p>
            </div>
        </div>
    </section>

    {# CTA PART #}
    <section class="g-bg-gray-light-v5 g-pa-50">
        <div class="container">
            <div class="row justify-content-md-around">
                <div class="col-md-3">
                    <img class="img-fluid" src="{{ asset('/img/dojocon2021/fb-share.png') }}" alt="DojoCon 2021">
                </div>
                <div class="col-md-5 align-self-md-center">
                    <h2 class="text-uppercase">Online <span class="g-color-primary">DojoCon</span> 2021</h2>
                    <p class="lead g-mb-20">
                        Op zaterdag 30 oktober is het weer tijd voor DojoCon! Dit keer online. Ben je er ook bij?
                    </p>
                </div>

                <div class="col-md-4 text-center text-md-left g-mt-20--sm">
                    <a class="btn u-btn-primary g-py-12 g-px-30" href="{{ path('dojocon') }}">Meer info</a>
                </div>
            </div>
        </div>
    </section>
    {# END CTA PART #}
    <!-- Intro -->
    <section class="text-center g-py-120--md g-py-20" id="content">
        <div class="container">
            <div class="u-heading-v2-5--bottom g-brd-primary g-mb-30">
                <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Ervaar zelf CoderDojo!</h2>
            </div>

            <p class="lead g-px-60--md g-mb-40">
                Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren.
                Dit wordt helemaal gratis verzorgd door vrijwilligers!
                Ben je ouder? <a href="{{ path('mentors') }}">Word dan mentor</a> bij een Dojo of <a href="{{ path('setup') }}">start jouw eigen CoderDojo</a>!
            </p>
        </div>
    </section>
    <!-- end intro -->
    <!-- videos -->
    <section class="col-lg-12 g-bg-secondary g-py-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="u-heading-v2-1--bottom g-mb-30">
                        <h2 class="u-heading-v2__title g-mb-10">MegaDojo</h2>
                        <h4 class="g-font-weight-200">2016 in de Ziggo Dome</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 g-mb-30">
                        <iframe width="100%" src="//www.youtube.com/embed/0jneeKZFJEU" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="u-heading-v2-1--bottom g-mb-30">
                        <h2 class="u-heading-v2__title g-mb-10">Unplugged Dojo</h2>
                        <h4 class="g-font-weight-200">2016 in Leiden</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 g-mb-30">
                        <iframe width="100%" src="//www.youtube.com/embed/Y2MFeiCE4Kw" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="u-heading-v2-1--bottom g-mb-30">
                        <h2 class="u-heading-v2__title g-mb-10">CoderDojo Rotterdam</h2>
                        <h4 class="g-font-weight-200">Zo ziet een dojo er uit</h4>
                    </div>
                    <div class="embed-responsive embed-responsive-16by9 g-mb-30">
                        <iframe width="100%" src="//www.youtube.com/embed/bGwRKl-n_4Q" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end videos -->
    <section class="g-bg-orange">
        <div class="container g-py-50 text-center g-color-white">
            <div class="row">
                <p class="col-lg-4 g-font-size-32 g-line-height-1">
                    <span class="g-font-size-60">
                        <i class="fa fa-child"></i>
                    </span><br/><br/>
                    <strong>2.500+</strong><br/>
                    <span class="g-font-size-18">
                        Kids per maand
                    </span>
                </p>
                <p class="col-lg-4 g-font-size-32 g-line-height-1">
                    <span class="g-font-size-60">
                        <i class="fa fa-graduation-cap"></i>
                    </span><br/><br/>
                    <strong>500+</strong><br/>
                    <span class="g-font-size-18">
                        Mentoren
                    </span>
                </p>
                <p class="col-lg-4 g-font-size-32 g-line-height-1">
                    <span class="g-font-size-60">
                        <i class="fa fa-map-marker"></i>
                    </span><br/><br/>
                    <strong>100+</strong><br/>
                    <span class="g-font-size-18">
                        Locaties
                    </span>
                </p>
            </div>
        </div>
    </section>
    <!-- Icon Blocks -->
    <section class="col-lg-12 g-py-80">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-60">
                <h2 class="h3 u-heading-v3__title g-brd-primary">De basis van CoderDojo</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="text-center">
                    <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-5">
                        <i class="fa fa-eur"></i>
                    </span>
                        <h3 class="g-color-black g-font-weight-400 g-font-size-13 text-uppercase mb-20">Gratis en Vrijblijvend</h3>
                        <div class="d-inline-block g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                        <p class="g-color-gray-dark-v4 g-mb-0">Omdat CoderDojo geheel door vrijwilligers wordt opgezet is het helemaal gratis en voor iedereen tussen de 7 en 17 jaar toegankelijk!</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="text-center">
      <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-5">
        <i class="fa fa-calendar"></i>
      </span>
                        <h3 class="g-color-black g-font-weight-400 g-font-size-13 text-uppercase mb-20">Regelmatig</h3>
                        <div class="d-inline-block g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                        <p class="g-color-gray-dark-v4 g-mb-0">Elke Dojo streeft er naar om minimaal één keer per maand open te zijn. In sommige gevallen zelfs vaker!</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>

                <div class="col-lg-4 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="text-center">
      <span class="d-block g-color-gray-dark-v4 g-font-size-40 g-mb-5">
        <i class="fa fa-map-marker"></i>
      </span>
                        <h3 class="g-color-black g-font-weight-400 g-font-size-13 text-uppercase mb-20">Bij jou in de buurt</h3>
                        <div class="d-inline-block g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                        <p class="g-color-gray-dark-v4 g-mb-0">CoderDojo wordt over de hele wereld gehouden, dus ook bij jou in de buurt. Kun je geen Dojo vinden? Start er zelf één!</p>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Icon Blocks -->
    <!-- secon icon blocks -->
    <section class="col-lg-12 g-bg-secondary g-py-80">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-60">
                <h2 class="h3 u-heading-v3__title g-brd-primary">Wat kun je verwachten?</h2>
            </div>
        </div>
        <div class="container">
            <div class="shortcode-html">
                <!-- Icon Blocks -->
                <div class="row">
                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                      <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                        <i class="icon-communication-130 u-line-icon-pro"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Programmeren</h3>
                                <p class="g-color-gray-dark-v4">Bij CoderDojo kun je alles leren over programmeren. Denk hierbij aan websites, games, apps of zelfs robots!</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                      <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                        <i class="icon-electronics-145 u-line-icon-pro"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Games</h3>
                                <p class="g-color-gray-dark-v4">Gamen is natuurlijk een groot onderdeel in het leven van een developer. Niet alleen games bouwen, maar ook games spelen hoort bij CoderDojo!</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                      <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                        <i class="icon-electronics-065 u-line-icon-pro"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Aan de slag met techniek</h3>
                                <p class="g-color-gray-dark-v4">Naast digitale projecten kun je bij CoderDojo ook aan de slag met bijvoorbeeld Arduino om zelf apparaten te bouwen.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
                <!-- End Icon Blocks -->

                <!-- Icon Blocks -->
                <div class="row">
                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                      <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                        <i class="icon-communication-040 u-line-icon-pro"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Leer andere mensen kennen</h3>
                                <p class="g-color-gray-dark-v4">De sfeer bij CoderDojo is heel open en iedereen is welkom! Zo kun je snel andere mensen leren kennen met dezelfde interesses.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                      <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                        <i class="icon-hotel-restaurant-190 u-line-icon-pro"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Pizza!</h3>
                                <p class="g-color-gray-dark-v4">Developen en pizza eten gaan hand in hand. Daarom oefenen we dit soms door 's avonds met zijn allen pizza te bestellen!</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>

                    <div class="col-lg-4 g-mb-30">
                        <!-- Icon Blocks -->
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                      <span class="u-icon-v1 u-icon-size--lg g-color-primary">
                        <i class="icon-education-001 u-line-icon-pro"></i>
                      </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">Zit je vast met jouw project?</h3>
                                <p class="g-color-gray-dark-v4">Ben je zelf met een project bezig en kom je er even niet uit? Kom dan naar een CoderDojo, hier zijn ongetwijfeld mensen die je verder kunnen helpen.</p>
                            </div>
                        </div>
                        <!-- End Icon Blocks -->
                    </div>
                </div>
                <!-- End Icon Blocks -->
            </div>

        </div>
    </section>
    <!-- end second icon blocks -->

    <!-- news articles -->
    <section class="col-lg-12 g-py-40">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-40">
                <h2 class="h3 u-heading-v3__title g-brd-primary">Laatste nieuws</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for article in articles %}
                    <div class="col-lg-4 g-mb-30">
                        <!-- Article -->
                        <article class="g-bg-white">
                            <a href="{{ path('blog_single', {'category': article.category.slug, 'slug': article.slug}) }}">
                                <figure class="g-pos-rel">
                                    <img class="img-fluid w-100" src="{{ asset("/articles/#{article.image}")|imagine_filter('article_image_header') }}" alt="{{ article.title|title }}">
                                    <figcaption class="text-uppercase text-center g-line-height-1_2 g-bg-primary-opacity-0_8 g-color-white g-pos-abs g-top-20 g-px-15 g-py-10">
                                        <strong class="d-block">{{ article.publishedAt|date('d') }}</strong>
                                        <hr class="g-brd-white my-1">
                                        <small class="d-block">{{ article.publishedAt|date('M') }}</small>
                                    </figcaption>
                                </figure>
                            </a>

                            <div class="g-pa-30">
                                <h3 class="h5 g-mb-15">
                                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="{{ path('blog_single', {'category': article.category.slug, 'slug': article.slug}) }}">{{ article.title|title }}</a>
                                </h3>

                                <p>{{ article.body|striptags|truncate(150, true)|raw }}</p>

                                <p>
                                    <a href="{{ path('blog_single', {'category': article.category.slug, 'slug': article.slug}) }}" class="btn btn-xs u-btn-outline-primary g-mr-10 g-mb-15">Lees meer</a>
                                </p>

                                <hr class="g-brd-gray-light-v4 g-my-20">

                                <ul class="list-inline small text-uppercase mb-0">
                                    <li class="list-inline-item">
                                        <span class="g-color-gray-dark-v4">By</span>
                                        {{ article.author.firstname }} {{ article.author.lastname }}
                                    </li>
                                </ul>
                            </div>
                        </article>
                        <!-- End Article -->
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end news articles -->

    <!-- upcoming dojos -->
    <section class="col-lg-12 g-bg-secondary g-py-40">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-20">
                <h2 class="h3 u-heading-v3__title g-brd-primary">Eerstvolgende Dojo's</h2>
            </div>
            <div class="table-responsive">
                <div class="alert alert-danger g-mb-20">
                    ⚠️ <strong>Let op:</strong> Wegens COVID-19 kan het zijn dat sommige dojo's online plaats vinden. Deze vind je <a href="{{ url('online') }}">hier</a>. Let dus goed op bij het registreren!
                </div>
                <table class="table table-bordered table-hover u-table--v2 text-uppercase g-col-border-side-0">
                    <thead>
                    <tr class="g-bg-primary g-color-white g-col-border-top-0">
                        <th class="g-brd-white-opacity-0_1">Dojo</th>
                        <th class="g-brd-white-opacity-0_1">Datum</th>
                        <th class="g-brd-white-opacity-0_1">Locatie</th>
                        <th class="g-brd-white-opacity-0_1"><input type="text" class="form-control form-control-sm" id="city-search" placeholder="Filter locatie"></th>
                    </tr>
                    </thead>
                    <tbody class="g-font-size-12 g-color-black-opacity-0_6 g-font-weight-600">
                    {% for event in dojos %}
                        <tr itemscope itemtype="http://schema.org/Event" class="" data-dojo-city="{{ event.dojo.city }}">
                            <th class="g-color-black-opacity-0_8" scope="row"  itemprop="name">{{ event.dojo.name|truncate(50) }}</th>
                            <td itemprop="startDate" content="{{ event.date|date('Y-m-d') }}">{{ event.date|localizeddate('none', 'none', 'nl_NL', null, "dd MMMM Y")|title}}</td>
                            <td itemprop="location" itemscope itemtype="http://schema.org/Place">
                                <span itemprop="name" class="hidden" content="{{event.dojo.name}}"></span>
                                <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="name">{{ event.dojo.city }}</span>
                                </div>
                            </td>
                            <td>
                                <a itemprop="url" href="{{ event.url }}" target="_blank" data-dojo="{{ event.dojo.name }}" data-dojo-date="{{ event.date|date("Y/m/d") }}" class="btn btn-success btn-block btn-xs" onClick="trackEventClick()">Reserveer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="{{path('dojos')}}" class="btn btn-block btn-default btn-xs" type="button">Bekijk alle dojo&apos;s &raquo;</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- end upcoming dojos -->
    <!-- friends -->
    <section class="col-lg-12 g-py-40">
        <div class="container">
            <div class="u-heading-v3-1 g-mb-40">
                <h2 class="h3 u-heading-v3__title g-brd-primary">CoderDojo is verbonden met</h2>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center"></div>
                <div class="col-md-2 text-center">
                    <a href="https://coderdojo.nl/nieuws/algemeen/nieuwe-sponsor-rootnet-coderdojo" target="_blank">
                        <img src="{{ asset('/bundles/coderdojowebsite/img/rootnet.png') }}" width="100%" alt="Sponsoring door Rootnet" title="Sponsoring door Rootnet" style="margin-top: 15px;"/>
                    </a>
                </div>

                <div class="col-md-2 text-center">
                    <a href="https://www.mediawijzer.net/" target="_blank">
                        <img src="https://kbjaarverslag.preview.themindoffice.nl/files/logo-MN2.png" width="100%" alt="Aangesloten bij Mediawijzer" title="Aangesloten bij Mediawijzer"/>
                    </a>
                </div>

                <div class="col-md-2 text-center">
                    <a href="https://www.mediawijzer.net/" target="_blank">
                        <img src="{{ asset('/img/stitpro.jpg') }}" width="100%" alt="Aangesloten bij Mediawijzer" title="Aangesloten bij Mediawijzer"/>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- end friends -->

    <div id="modal-type-aftersometime" class="js-autonomous-popup text-left g-max-width-600 g-bg-white g-overflow-y-auto g-pa-20" style="display: none;" data-modal-type="aftersometime" data-effect="fadein" data-delay="5000">
        <button type="button" class="close" onclick="Custombox.modal.close();">
            <i class="hs-icon hs-icon-close"></i>
        </button>

        <img src="{{ asset('/bundles/coderdojowebsite/img/club100.png') }}" alt="CoderDojo Slack Community" class="img-fluid g-mb-50"/>

        <p>
            Steun Stichting CoderDojo Nederland door elk jaar <strong>€ 100</strong> te doneren. Op die manier
            is de stichting verzekerd van inkomen om de community in Nederland optimaal te kunnen ondersteunen!
        </p>

        <p class="text-center g-mt-40 g-mb-15">
            <a href="{{ path('donate') }}">
                Eenmalig doneren
            </a>&nbsp;&nbsp;
            <a href="{{ path('club_of_100') }}" class="btn btn-lg btn-primary">
                Meer informatie&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right"></i>
            </a>
        </p>
    </div>
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        function trackEventClick() {
            ga('send', 'event', 'dojo_interest', 'register_from_homepage');
        }
    </script>
{% endblock %}
