{% extends "::index_v2.html.twig" %}

{% block title %}Online Events &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Online Events &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('img/online.jpg')}}{% endblock %}

{% block description %}
    Door de komst van het Corona virus zijn we genoodzaakt om ons tijdelijk op andere manieren te organiseren.
    Bij CoderDojo is dit niet anders en kun je vanaf nu ook deelnemen aan online dojo's!
{% endblock %}

{% block fbdescription %}
    Door de komst van het Corona virus zijn we genoodzaakt om ons tijdelijk op andere manieren te organiseren.
    Bij CoderDojo is dit niet anders en kun je vanaf nu ook deelnemen aan online dojo's!
{% endblock %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ asset('/bundles/coderdojowebsite/img/headers/header_13.jpg') }});">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Doe jij ook mee?</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">Online Events</h2>
            </header>

            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    Home
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    Online Events
                </li>
            </ul>
        </div>
    </section>
    <!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<section class="col-lg-12 g-my-40">
    <div class="container">
        <div class="row g-mb-30">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center margin-bottom-10">
                <div class="headline g-mb-30">
                    <h2>CoderDojo Online</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="g-mb-20">
                            Door de komst van het <a href="{{ url('corona') }}">Coronavirus</a> zijn we genoodzaakt om ons tijdelijk op andere manieren te organiseren.
                            Bij CoderDojo is dat niet anders. Vanaf nu kun je deelnemen aan online dojo’s! We hebben de eerste
                            proef gedraaid en die was zeer succesvol.
                        </p>
                        <p class="g-mb-20 font-weight-bold">
                            Tijd voor meer dus!
                        </p>
                        <img class="img-fluid g-mb-20" src="{{ asset('img/online.jpg') }}" alt="CoderDojo Online">
                        <p class="g-mb-40">
                            Wees welkom tijdens één van onze online events, georganiseerd door lokale dojo’s of door onszelf in
                            samenwerking met mentoren van diverse dojo’s. Kies welk thema bij je past en kom zo ook in contact
                            met ninja’s aan de andere kant van het land. Als je zelf ideeën hebt, mag je die altijd aan <a href="{{ url('contact') }}">ons
                                laten weten</a>!
                        </p>
                        <p class="text-center">
                            <a href="https://drive.google.com/drive/folders/1Eux-Ejxuq7gpfE8S9ExDzVKYLgcDidx_" target="_blank" class="btn btn-lg u-btn-orange g-mr-10 g-mb-15">Organiseer zelf een online dojo&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link"></i></a><br/>
                            <a href="{{url('corona')}}" target="_blank" class="btn btn-outline-primary btn-m g-mr-10 g-mb-15">Meer info over CoderDojo en het Corona virus&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-external-link"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="headline">
                    <h2>De spelregels</h2>
                </div>
                <p>Graag willen we vooraf een aantal afspraken met elkaar maken over hoe we online met elkaar samenwerken.</p>
                <ul>
                    <li>De webcam van de deelnemers blijft uit. De kinderen kunnen de mentoren wel zien.</li>
                    <li>Zet je microfoon is uit als je niet aan het woord bent</li>
                    <li>Deel geen persoonlijke informatie</li>
                    <li>Als je een vraag hebt, steek dan je hand op (daar is in Jitsi een knop voor!) of je plaats je vraag in de chat.</li>
                    <li>Als je hulp nodig hebt met je code, dan vragen we je je scherm te delen en helpen we je verder</li>
                </ul>
                <p>
                    Bij elke online dojo worden er vooraf nog duidelijke instructies gestuurd en zal er aan het begin nog een kort woorde uitleg gegeven worden!
                </p>
            </div>
            <div class="col-md-7">
                <div class="headline">
                    <h2>Wanneer vinden de online events plaats?</h2>
                </div>
                <p class="margin-bottom-20">We zijn nog hard bezig om meer events in te plannen!</p>
                <table class="table">
                    <tbody>
                        {% for event in events if date('Y-m-d') <= event.date|date('Y-m-d') %}
                            <tr>
                                <td><strong>{{ event.date|localizeddate('medium', 'none', 'nl_NL', 'Europe/Amsterdam', 'EEEE d MMMM') }}</td>
                                <td>{{ event.name|ucfirst }}</strong></td>
                                <td>
                                    <a href="{{ event.url }}" class="btn btn-success btn-xs">inschrijven</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for event in events if date('Y-m-d') > event.date|date('Y-m-d') %}
                            <tr class="text-muted">
                                <td><strong>{{ event.date|localizeddate('medium', 'none', 'nl_NL', 'Europe/Amsterdam', 'EEEE d MMMM') }}</td>
                                <td>{{ event.name|capitalize }}</strong></td>
                                <td>
                                    <span class="label label-default label-xs">Voorbij</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/container-->
</section>
<!--=== End Content Part ===-->

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
