{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Contact &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Contact &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Neem contact met ons op en wij zullen proberen zo snel mogelijk jouw vraag te beantwoorden!
{% endblock %}

{% block fbdescription %}
    Neem contact met ons op en wij zullen proberen zo snel mogelijk jouw vraag te beantwoorden!
{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Contact Page");

        mixpanel.track_forms("#contactform", "Email Sent", {
            'Dojo Name': $('#contact_ontvanger').find('option:selected').text()
        });
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Contact</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">

    <div class="row margin-bottom-30">
        <div class="col-md-8 col-md-offset-2">

            <div class="panel panel-green margin-bottom-40">
                <div class="panel-heading">
                    <h3 class="panel-title" style="padding-bottom: 5px;"><i class="icon-envelope"></i> Contact</h3>
                </div>
                <div class="panel-body">
                    {% for flashMessage in app.session.flashbag.get('success') %}

                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>

                    {% endfor %}
                    <p>
                        Heb je een vraag of suggestie? Neem dan via dit formulier contact ons op.<br/>
                        Wij doen ons uiterste best om zo snel mogelijk te antwoorden!
                    </p>
                    {{ form_start(form, { 'action': path('contact'), 'attr': { 'class': 'fos_user_registration_register form-horizontal' } }) }}
                        {{ form_widget(form) }}
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <input type="submit" value="Verzenden" class="btn-u btn-u-green" />
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix margin-bottom-40"></div>

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
