{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">{{ dojo.name }}</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ dojo.name }}</h3>
        </div>
    </div>
    <div class="row margin-bottom-30">
        <div class="col-md-6">
            <img src="http://maps.googleapis.com/maps/api/staticmap?center={{dojo.street}}+{{dojo.housenumber}},{{dojo.postalcode}}+{{dojo.city}}&amp;zoom=8&size=555x180&maptype=roadmap
&markers=color:green%7C{{dojo.street}}+{{dojo.housenumber}},{{dojo.postalcode}}+{{dojo.city}}&sensor=false"/>
        </div>
        <div class="col-md-3">
            <p>
                <a href="mailto:{{ dojo.email }}" class="btn-u btn-u-blue btn-block"><i class="icon-envelope"></i>&nbsp;&nbsp;Email</a><br/><br/>
                <a href="{{ dojo.website }}" class="btn-u btn-u-blue btn-block"><i class="icon-globe"></i>&nbsp;&nbsp;Website</a><br/><br/>
                <a href="http://twitter.com/{{ dojo.twitter }}" class="btn-u btn-u-blue btn-block"><i class="icon-twitter"></i>&nbsp;&nbsp;Twitter</a><br/><br/>
                <a href="http://facebook.com/{{ dojo.facebook }}" class="btn-u btn-u-blue btn-block"><i class="icon-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a>
            </p>
        </div>
        <div class="col-md-3">
            <p>
                <strong>Status: </strong><span class="label label-warning">On Hold</span><br/><br/>
                <strong>Locatie:</strong><br/>
                {{ dojo.street }} {{ dojo.housenumber }}<br/>
                {{ dojo.postalcode }} {{ dojo.city }}<br/>
                {{ dojo.city }}<br/><br/>
                <strong>Volgende editie:</strong> Zaterdag 5 april
            </p>
        </div>
    </div>

    <div class="clearfix margin-bottom-40"></div>
</div>
{% endblock %}

{% block description %}
In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}
