{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Vindt een CoderDojo bij jou in de buurt</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-6 col-md-offset-3">
            <!--Orange Panels-->
            <div class="panel panel-orange">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="icon-calendar"></i> Komende CoderDojo&apos;s</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Datum</th>
                                <th>Tickets</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if nextdojos|length > 0 %}
                                {% for dojo in nextdojos %}
                                <tr>
                                    <td><strong>{{dojo.name}}</strong></td>
                                    <td>{{dojo.next|date("d/m/Y")}}</td>
                                    <td><a href="{{dojo.tickets}}" target="_blank" class="btn-u btn-u-small btn-u-green">Reserveer</a></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td style="text-align:center;" colspan="3">Er zijn momenteel geen edities gepland</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!--End Orange Panels-->
        </div>
    </div>

    <hr class="margin-bottom-30">

    {% for dojo in dojos %}
        <div class="row">
            <div class="col-md-12">
                <h3>{{ dojo.name }}</h3>
                {# <p><strong>Status: </strong><span class="label label-warning">On Hold</span></p> #}
            </div>
        </div>
        <div class="row margin-bottom-30">
            <div class="col-md-6">
                <img src="http://maps.googleapis.com/maps/api/staticmap?center={{dojo.street}}+{{dojo.housenumber}},{{dojo.postalcode}}+{{dojo.city}}&amp;zoom=9&size=555x180&maptype=roadmap
    &markers=color:green%7C{{dojo.street}}+{{dojo.housenumber}},{{dojo.postalcode}}+{{dojo.city}}&sensor=false" class="img-responsive"/>
            </div>
            <div class="col-md-3">
                <p>
                    <a href="mailto:{{ dojo.email }}" class="btn-u btn-u-blue btn-block"><i class="icon-envelope"></i>&nbsp;&nbsp;Email</a><br/><br/>
                    <a href="{{ dojo.website }}" class="btn-u btn-u-blue btn-block"><i class="icon-globe"></i>&nbsp;&nbsp;Website</a><br/><br/>
                    <a href="http://twitter.com/{{ dojo.twitter }}" class="btn-u btn-u-blue btn-block"><i class="icon-twitter"></i>&nbsp;&nbsp;Twitter</a><br/><br/>
                    <a href="{{ dojo.facebook }}" class="btn-u btn-u-blue btn-block"><i class="icon-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a>
                </p>
            </div>
            <div class="col-md-3">
                <p>
                    <strong>Locatie:</strong><br/>
                    {{ dojo.location }}<br/>
                    {{ dojo.street }} {{ dojo.housenumber }}<br/>
                    {{ dojo.postalcode }} {{ dojo.city }}<br/>
                    {{ dojo.city }}<br/><br/>
                    <strong>Volgende editie:</strong> {{ dojo.next|date("d/m/Y") }}
                </p>
            </div>
        </div>
    {% endfor %}

    <div class="clearfix margin-bottom-40"></div>
</div>
{% endblock %}
