{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Dojo&apos;s in Nederland &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Dojo&apos;s in Nederland &mdash; {{ parent() }}{% endblock %}

{% block description %}
  In heel Nederland zijn er inmiddels {{ dojos|length }} dojo's. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
  In heel Nederland zijn er inmiddels {{ dojos|length }} dojo's. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block og_image %}http://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/og-dojos.png')}}{% endblock %}

{% block customjs %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script>
    window.dojos = {};
    {% for dojo in dojos %}
      dojos[{{dojo.id}}] = {
        id:           {{dojo.id}},
        name:         "{{dojo.name}}",
        location:     "{{dojo.location}}",
        street:       "{{dojo.street}}",
        housenumber:  "{{dojo.housenumber}}",
        postalcode:   "{{dojo.postalcode}}",
        city:         "{{dojo.city}}",
        slug:         "{{dojo.slug}}",
        facebook:     "{{dojo.facebook}}",
        twitter:      "{{dojo.twitter}}",
        website:      "{{dojo.website}}",
        geo: {
          lat: {{dojo.lat}},
          long: {{dojo.long}}
        }
      }
    {% endfor %}
  </script>

  <script type="text/javascript" src="{{asset('bundles/coderdojowebsite/js/pages/dojos.js')}}"></script>
{% endblock customjs %}

{% block content %}

<div class="content-wrapper">

  <div id="all-dojos-map" class="map">
  </div>

  <div class="container">


    <div class="row margin-bottom-30 dojo-selector">
        <div class="col-md-6">
            <!--Orange Panels-->
            <div class="panel panel-orange">

                <div class="panel-heading">
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active" data-tab-ref="upcoming-dojos"><a href="#"><i class="icon-calendar"></i>&nbsp;&nbsp;Komende dojo&apos;s</a></li>
                    <li role="presentation" data-tab-ref="all-dojos"><a href="#"><i class="icon-list"></i>&nbsp;&nbsp;Alle Dojo&apos;s</a></li>
                  </ul>
                </div>

                <div class="panel-body" id="dojoeventlist" data-js-ref="list-upcoming-dojos">

                  <!-- header row -->
                  <div class="row dojos-header">
                    <div class="col-xs-12">
                      <div class="row">
                        <div class="col-xs-4">
                          <b>Locatie</b>
                        </div>
                        <div class="col-xs-4">
                          <b>Datum</b>
                        </div>
                        <div class="col-xs-4">
                          <b>Tickets</b>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- various dojo rows -->
                  {% if nextdojos|length > 0 %}
                      {% for dojo in nextdojos %}
                      <div class="row dojo-row" data-dojo-id="{{dojo.dojo.id}}">
                        <div class="col-xs-12">
                          <div class="row">
                            <div class="col-xs-4">
                              {{dojo.dojo.name|replace({'CoderDojo ':''})}}
                            </div>
                            <div class="col-xs-4">
                              {{ dojo.date|localizeddate('none', 'none', 'nl_NL', null, "d MMMM Y")}}
                            </div>
                            <div class="col-xs-4">
                              <a href="{{ dojo.url }}" target="_blank" class="btn-u btn-u-small btn-u-green" data-dojo-date="{{ dojo.date|date('Y/m/d') }}" data-dojo="{{ dojo.dojo.name }}">Reserveer</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      {% endfor %}
                  {% else %}
                  <div class="row">
                    <div class="col-xs-12">
                      <p class="empty">
                        Er zijn momenteel geen edities gepland
                      </p>
                    </div>
                  </div>
                  {% endif %}



                </div>

                <div class="panel-body hidden" id="dojolist" data-js-ref="list-all-dojos">
                  <!-- header row -->
                  <div class="row dojos-header">
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-xs-7">
                          <b>Naam</b>
                        </div>
                        <div class="col-xs-5">
                          <b>Contact</b>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- various dojo rows -->
                  {% for dojo in dojos %}
                  <div class="row dojo-row" data-dojo-id="{{dojo.id}}">
                    <div class="col-xs-12">
                      <div class="row">
                        <!-- general dojo information -->
                        <div class="col-xs-7">
                          {{dojo.name}}
                        </div>

                        <!-- dojos contact buttons -->
                        <div class="col-xs-5">
                          <p class="contact-info">
                            <a href="mailto:{{ dojo.email }}" title="Email"><i class="icon-envelope"></i></a>&nbsp;
                            <a href="{{ dojo.website }}" title="Website"><i class="icon-globe"></i></a>&nbsp;
                            <a href="http://twitter.com/{{ dojo.twitter }}" title="Twitter"><i class="icon-twitter"></i></a>&nbsp;
                            <a href="{{ dojo.facebook }}" title="Facebook"><i class="icon-facebook"></i></a>
                          </p>
                        </div>

                      </div>
                    </div>
                  </div>
                  {% endfor %}

                </div>

            </div>
            <!--End Orange Panels-->
        </div>
      </div>
    </div>
</div>

{% endblock %}