{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block customjs %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <script>
    window.dojos = {};
    {% for dojo in dojos %}
      dojos[{{dojo.id}}] = {
        id:           {{dojo.id}},
        name:         "{{dojo.name}}",
        location:     "{{dojo.location}}",
        street:       "{{dojo.street}}",
        housenumber:  "{{dojo.housenumber}}",
        postalcode:   "{{dojo.postalcode}}",
        city:         "{{dojo.city}}",
        slug:         "{{dojo.slug}}",
        facebook:     "{{dojo.facebook}}",
        twitter:      "{{dojo.twitter}}",
        website:      "{{dojo.website}}",
        geo: {
          lat: {{dojo.lat}},
          long: {{dojo.long}}
        }
      }
    {% endfor %}
  </script>

  <script type="text/javascript" src="{{asset('bundles/coderdojowebsite/js/pages/dojos.js')}}"></script>
{% endblock customjs %}

{% block content %}

<div class="content-wrapper">

  <div id="all-dojos-map" class="map dojos-background">
  </div>


    <div class="row margin-bottom-30 dojo-selector">
        <div class="col-md-6">
            <!--Orange Panels-->
            <div class="panel panel-orange">

                <div class="panel-heading">
                  <ul class="nav nav-pills">
                    <li role="presentation" class="active" data-tab-ref="upcoming-dojos"><a href="#"><i class="icon-calendar"></i>&nbsp;&nbsp;Komende dojo&apos;s</a></li>
                    <li role="presentation" data-tab-ref="all-dojos"><a href="#"><i class="icon-list"></i>&nbsp;&nbsp;Alle Dojo&apos;s</a></li>
                  </ul>
                </div>

                <div class="panel-body" data-js-ref="list-upcoming-dojos">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th>Datum</th>
                                <th>Tickets</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if nextdojos|length > 0 %}
                                {% for dojo in nextdojos %}
                                <tr data-dojo-id="{{dojo.dojo.id}}" class="dojo-row">
                                    <td><strong>{{dojo.dojo.name|replace({'CoderDojo ':''})}}</strong><br />{{dojo.name}}</td>
                                    <td>{{ dojo.dojodate|localizeddate('none', 'none', 'nl_NL', null, "d MMMM Y")}}</td>
                                    <td><a href="{{ dojo.url }}" target="_blank" class="btn-u btn-u-small btn-u-green">Reserveer</a></td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td style="text-align:center;" colspan="3">Er zijn momenteel geen edities gepland</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>

                <div class="panel-body hidden" data-js-ref="list-all-dojos">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Naam</th>
                                <th colspan="2">Contact</th>
                            </tr>
                        </thead>
                        <tbody>

                          {% for dojo in dojos %}
                            <tr data-dojo-id="{{dojo.id}}" class="dojo-row">
                              <td>
                                <strong>{{dojo.name}}</strong><br />
                                {{dojo.location}}<br />
                                {{dojo.street}} {{dojo.housenumber}}<br />
                                {{dojo.postalcode}} {{dojo.city}}
                              </td>
                              <td>
                                <p class="contact-info">
                                  <a href="mailto:{{ dojo.email }}" class="btn-u btn-u-blue btn-block"><i class="icon-envelope"></i>&nbsp;&nbsp;Email</a><br/>
                                  <a href="{{ dojo.website }}" class="btn-u btn-u-blue btn-block"><i class="icon-globe"></i>&nbsp;&nbsp;Website</a>
                                </p>
                              </td>
                              <td>
                                <p class="contact-info">
                                  <a href="http://twitter.com/{{ dojo.twitter }}" class="btn-u btn-u-blue btn-block"><i class="icon-twitter"></i>&nbsp;&nbsp;Twitter</a><br/>
                                  <a href="{{ dojo.facebook }}" class="btn-u btn-u-blue btn-block"><i class="icon-facebook"></i>&nbsp;&nbsp;&nbsp;&nbsp;Facebook</a>
                                </p>
                              </td>
                            </tr>
                          {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
            <!--End Orange Panels-->
        </div>
    </div>

</div>

{% endblock %}

{% block description %}
In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}
