{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block content %}
{% include "CoderdojoWebsiteBundle:Snippets:Slider.html.twig" %}
<!--=== Content Part ===-->
<div class="container">
    <!--Title Box-->
    <div class="title-box">
        <div class="row margin-bottom-40">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-box-text">Ervaar zelf <span class="color-green">CoderDojo!</span></div>
                <p>Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers! Ben je ouder? Wordt dan mentor bij een Dojo of start jouw eigen CoderDojo!</p>
                <div class="responsive-video">
                    <iframe width="640" height="360" src="//www.youtube.com/embed/GLtoyfbPj_U" frameborder="0" allowfullscreen style="margin:20px 0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--End Promo Box-->

    <!--Promo Box-->
    <div class="row">
        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-eur color-blue"></i>
                <strong>Gratis en Vrijblijvend</strong>
                <p>Omdat CoderDojo geheel door vrijwilligers wordt opgezet is het helemaal gratis en voor iedereen tussen de 7 en 17 jaar toegankelijk!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-calendar color-orange"></i>
                <strong>Regelmatig</strong>
                <p>Elke Dojo streeft er naar om minimaal één keer per maand open te zijn. In sommige gevallen zelfs vaker!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-map-marker color-sea"></i>
                <strong>Bij jou in de buurt</strong>
                <p>CoderDojo wordt over de hele wereld gehouden, dus ook bij jou in de buurt. Kun je geen Dojo vinden? Start er zelf één!</p>
            </div>
        </div>
    </div>
    <!--End Promo Box-->

    <hr class="margin-bottom-40">

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-code icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Programmeren</h3>
                <p>Bij CoderDojo kun je alles leren over programmeren. Denk hierbij aan websites, games, apps of zelfs robots!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-cog icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Aan de slag met techniek</h3>
                <p>Naast digitale projecten kun je bij CoderDojo ook aan de slag met bijvoorbeeld Arduino om zelf apparaten te bouwen.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-question icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Zit je vast met jouw project?</h3>
                <p>Ben je zelf met een project bezig en kom je er even niet uit? Kom dan naar een CoderDojo, hier zijn ongetwijfeld mensen die je verder kunnen helpen.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-rocket icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Games</h3>
                <p>Gamen is natuurlijk een groot onderdeel in het leven van een developer. Niet alleen games bouwen, maar ook games spelen hoort bij CoderDojo!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-group icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Leer anderen mensen kennen</h3>
                <p>De sfeer bij CoderDojo is heel open en iedereen is welkom! Zo kun je snel andere mensen leren kennen met dezelfde interesses.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-food icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Pizza!</h3>
                <p>Developen en pizza eten gaan hand in hand. Daarom oefenen we dit soms door &apos;s avonds met zijn allen pizza te bestellen!</p>
            </div>
        </div>
    </div>
    <!--End Info Blcoks -->

    <hr class="margin-bottom-50">

    <!--Service Block-->
    <div class="row promo-service">
        <div class="col-md-7">
            <h2 class="margin-bottom-20">Komende Dojos</h2>

            {% for dojo in dojos %}
            <div class="row" itemscope itemtype="http://schema.org/Event">
                <div class="col-md-3" itemprop="startDate" content="{{ dojo.date|date('Y-m-d') }}">
                    {{ dojo.date|localizeddate('none', 'none', 'nl_NL', null, "dd MMMM Y")}}
                </div>
                <div class="col-md-4" itemprop="name">
                    <a itemprop="url" href="{{ dojo.url }}" target="_blank">{{ dojo.dojo.name }}</a>
                </div>
                <div class="col-md-5" itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <span itemprop="name">{{ dojo.dojo.location }}</span>
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="hidden">
                        <span itemprop="addressLocality">{{ dojo.dojo.city }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

            <hr class="margin-bottom-20">
            <a href="{{path('setup')}}" class="btn-u btn-u-lg btn-u-sea"><i class="icon-plus-sign-alt"></i> Start een Dojo</a>
            <a href="{{path('dojos')}}" class="btn-u btn-u-lg btn-u-blue"><i class="icon-ok-sign"></i> Vind een Dojo</a>
        </div>

        <div class="col-md-5 partners">
            <h2>In 2016 werken wij samen met:</h2>
            <img src="{{ asset('/bundles/coderdojowebsite/img/ziggo.png') }}" title="Ziggo"/>
            <img src="{{ asset('/bundles/coderdojowebsite/img/codeqube.png') }}" title="CodeQube"/>
        </div>
    </div>
    <!--End Service Block-->
</div>
<!-- End Content Part -->
{% endblock %}
