{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block customjs %}
<script type="text/javascript">
    $('#dojoeventlist a').on('click', function(e){
        var el = $(e.target);

        mixpanel.track("Register for dojo", {
            "Dojo Name": el.data('dojo'),
            "Dojo Event Date": el.data('dojo-date'),
            "Registration Location": 'homepage'
        });
    });

    mixpanel.track("View Homepage");
</script>
{% endblock %}

{% block content %}
{% include "CoderdojoWebsiteBundle:Snippets:Slider.html.twig" %}
<!-- Promotion -->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <img src="{{ asset('/bundles/coderdojowebsite/img/books/coderdojo_boek.jpg') }}" width="130" style="float: left;margin-right:20px;margin-bottom: 10px;margin-top:10px;" alt="Eu CodeWeek" class="unplugged"/>
                    <span style="line-height:1.5em;"><strong>Verdien een boekenpakket!</strong><br/>Maak kans op o.a. het CoderDojo Boek!</span>
                    <p>
                        Tot en met januari 2017 kunnen 20 ninja's een boekenpakket winnen met 2 Minecraft boeken en het CoderDojo Boek.
                        Het enige wat je hoeft te doen is zélf een workshop geven bij jouw dojo!
                    </p>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('books') }}" class="btn-buy hover-effect">Lees meer</a>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <!--Title Box-->
    <div class="title-box">
        <div class="row margin-bottom-10">
            <div class="col-md-8 col-md-offset-2">
                <div class="title-box-text">Ervaar zelf <span class="color-green">CoderDojo!</span></div>
                <p>Bij CoderDojo kunnen kinderen van 7 t/m 17 jaar leren programmeren. Dit wordt helemaal gratis verzorgd door vrijwilligers! Ben je ouder? Word dan mentor bij een Dojo of start jouw eigen CoderDojo!</p>
            </div>
        </div>
        <div class="row margin-bottom-40">
            <div class="col-md-4">
                <h3 class="text-center">MegaDojo</h3>
                <div class="responsive-video">
                    <iframe width="640" height="360" src="//www.youtube.com/embed/0jneeKZFJEU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="margin:20px 0"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Unplugged Dojo</h3>
                <div class="responsive-video">
                    <iframe width="640" height="360" src="//www.youtube.com/embed/Y2MFeiCE4Kw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="margin:20px 0"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">CoderDojo Rotterdam</h3>
                <div class="responsive-video">
                    <iframe width="640" height="360" src="//www.youtube.com/embed/bGwRKl-n_4Q?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="margin:20px 0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!--End Promo Box-->
</div>

<div class="container">
    <!--Promo Box-->
    <div class="row">
        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-eur color-blue"></i>
                <strong>Gratis en Vrijblijvend</strong>
                <p>Omdat CoderDojo geheel door vrijwilligers wordt opgezet is het helemaal gratis en voor iedereen tussen de 7 en 17 jaar toegankelijk!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-calendar color-orange"></i>
                <strong>Regelmatig</strong>
                <p>Elke Dojo streeft er naar om minimaal één keer per maand open te zijn. In sommige gevallen zelfs vaker!</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="icon-map-marker color-sea"></i>
                <strong>Bij jou in de buurt</strong>
                <p>CoderDojo wordt over de hele wereld gehouden, dus ook bij jou in de buurt. Kun je geen Dojo vinden? Start er zelf één!</p>
            </div>
        </div>
    </div>
    <!--End Promo Box-->

    <hr class="margin-bottom-40">

    <!-- Info Blcoks -->
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-code icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Programmeren</h3>
                <p>Bij CoderDojo kun je alles leren over programmeren. Denk hierbij aan websites, games, apps of zelfs robots!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-cog icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Aan de slag met techniek</h3>
                <p>Naast digitale projecten kun je bij CoderDojo ook aan de slag met bijvoorbeeld Arduino om zelf apparaten te bouwen.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-question icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Zit je vast met jouw project?</h3>
                <p>Ben je zelf met een project bezig en kom je er even niet uit? Kom dan naar een CoderDojo, hier zijn ongetwijfeld mensen die je verder kunnen helpen.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 info-blocks">
            <i class="icon-rocket icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Games</h3>
                <p>Gamen is natuurlijk een groot onderdeel in het leven van een developer. Niet alleen games bouwen, maar ook games spelen hoort bij CoderDojo!</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-group icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Leer andere mensen kennen</h3>
                <p>De sfeer bij CoderDojo is heel open en iedereen is welkom! Zo kun je snel andere mensen leren kennen met dezelfde interesses.</p>
            </div>
        </div>
        <div class="col-sm-4 info-blocks">
            <i class="icon-food icon-info-blocks"></i>
            <div class="info-blocks-in">
                <h3>Pizza!</h3>
                <p>Developen en pizza eten gaan hand in hand. Daarom oefenen we dit soms door &apos;s avonds met zijn allen pizza te bestellen!</p>
            </div>
        </div>
    </div>
    <!--End Info Blcoks -->

    <hr class="margin-bottom-50">

    <!--Service Block-->
    <div class="row promo-service" id="dojoeventlist">
        <div class="col-md-12">
            <h2 class="margin-bottom-20">Komende Dojos</h2>

            {% for dojo in dojos %}
            <div class="row margin-bottom-5" itemscope itemtype="http://schema.org/Event">
                <div class="col-md-2" itemprop="name">
                    {{ dojo.dojo.name }}
                </div>
                <div class="col-md-2" itemprop="startDate" content="{{ dojo.date|date('Y-m-d') }}">
                    {{ dojo.date|localizeddate('none', 'none', 'nl_NL', null, "dd MMMM Y")|title}}
                </div>
                <div class="col-md-6" itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="name">{{ dojo.dojo.location }}</span>, <span itemprop="addressLocality">{{ dojo.dojo.street }} {{ dojo.dojo.housenumber }}, {{ dojo.dojo.postalcode }} {{ dojo.dojo.city }}</span>
                    </div>
                </div>
                <div class="col-md-2">
                    <a itemprop="url" href="{{ dojo.url }}" target="_blank" data-dojo="{{ dojo.dojo.name }}" data-dojo-date="{{ dojo.date|date("Y/m/d") }}" class="btn btn-success btn-block btn-xs">Reserveer</a>
                </div>
            </div>
            {% endfor %}
            <div class="row margin-bottom-5" itemscope itemtype="http://schema.org/Event">
                <div class="col-md-10">
                </div>
                <div class="col-md-2 right">
                    <a href="{{path('dojos')}}" class="btn btn-block btn-default btn-xs" type="button">Bekijk alle dojo&apos;s &raquo;</a>
                </div>
            </div>
            <hr class="margin-bottom-20">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 partners">
            <h2>In 2016 werken wij samen met:</h2>
            <div class="col-md-4">
                <br/>
                <a href="{{ path('eucodeweek') }}"><img src="{{ asset('/bundles/coderdojowebsite/img/codeweekeu_logo.png') }}" title="EU CodeWeek"/></a>
            </div>
            <div class="col-md-4">
                <br/><br/>
                <a href="{{ path('codeqube') }}"><img src="{{ asset('/bundles/coderdojowebsite/img/codeqube.png') }}" title="Code Qube"/></a>
            </div>
            <div class="col-md-4">
                <a href="{{ path('ziggo') }}"><img src="{{ asset('/bundles/coderdojowebsite/img/ziggo.png') }}" title="Ziggo"/></a>
            </div>
        </div>
    </div>
    <!--End Service Block-->
</div>
<!-- End Content Part -->
{% endblock %}
