{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Slack Community &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Slack Community &mdash; {{ parent() }}{% endblock %}

{% block description %}
    Slack is een soort kruising tussen een forum en een chatroom.
    De manier van praten is zoals een chatroom, maar alle berichten worden opgeslagen en zijn zoekbaar voor
    iedereen die binnenkomt.
{% endblock %}

{% block fbdescription %}
    Slack is een soort kruising tussen een forum en een chatroom.
    De manier van praten is zoals een chatroom, maar alle berichten worden opgeslagen en zijn zoekbaar voor
    iedereen die binnenkomt.
{% endblock %}

{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/slack.jpg')}}{% endblock %}

{% block customjs %}
    <script type="text/javascript">
        mixpanel.track("View Slack Page");
    </script>
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Slack Community</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
    <div class="row margin-bottom-30">
        <div class="col-md-8 col-md-push-2">
            <h1>Slack Community</h1>

            <div class="clearfix margin-bottom-20"></div>

            <img src="{{ asset('/bundles/coderdojowebsite/img/slack.png') }}" alt="CoderDojo Slack Community" style="width:100%;"/>

            <div class="clearfix margin-bottom-30"></div>

            <div class="row tag-box tag-box-v5">
                <div class="col-md-8">
                    <h3>
                        Wil je gelijk beginnen met Slack?
                    </h3>
                </div>
                <div class="col-md-4">
                    <p><a href="http://slack.coderdojo.nl" target="_blank" class="btn-u btn-u-lg btn-u-red"><i class="icon-envelope"></i> Meld Je Aan</a></p>
                </div>
            </div>

            <div class="clearfix margin-bottom-20"></div>

            <h2>Wat is Slack?</h2>

            <p>
                Slack is een soort kruising tussen een forum en een chatroom.
                De manier van praten is zoals een chatroom, maar alle berichten worden opgeslagen en zijn zoekbaar voor
                iedereen die binnenkomt. Er zijn verschillende kanalen die elk een eigen onderwerp hebben.
                Je kan zelf bepalen aan welke gesprekken je deel wilt nemen. Daarnaast kun je ook rechtstreeks met
                iemand chatten of in een privé groep chatten.
            </p>
            <p>
                Om op de hoogte te blijven van wat er gebeurd kan Slack je notificaties sturen per email of naar je
                mobiele devices. Je kan zelf instellen of je alles wilt weten of alleen wat voor jouw belangrijk is.
                Slack is beschikbaar op <a href="https://slack.com/downloads" target="_blank">bijna alle platformen</a>.
            </p>

            <div class="clearfix margin-bottom-20"></div>

            <img src="{{ asset('/bundles/coderdojowebsite/img/slack_screenshot.png') }}" alt="CoderDojo Slack Community" style="width:100%;" />

            <div class="clearfix margin-bottom-20"></div>

            <h2>Voor wie is Slack?</h2>

            <p>
                We hebben over het algemeen de volgende type deelnemers:<br/>
                <strong>Champions:</strong> Een organisator van een Dojo<br/>
                <strong>Mentoren:</strong> De vrijwilligers van een Dojo<br/>
                <strong>Ninja’s:</strong> De kinderen die een Dojo bezoeken<br/>
                <strong>Ouders:</strong> De ouders van Ninja’s<br/>
                <strong>Sponsors / Partners:</strong> Personen die voor een instelling werken die samen werkt met CoderDojo.<br/>
                <strong>Gasten:</strong> Ter oriëntatie of om kennis te maken met CoderDojo
            </p>

            <div class="clearfix margin-bottom-20"></div>

            <h2>Wat wordt er besproken in de community?</h2>

            <p>
                Om te beginnen heeft elke Dojo zijn eigen kanaal zodat je iedereen binnen een bepaalde dojo kan
                ontmoeten. In dit kanaal kan er kennis gemaakt worden, vragen over de geplande dojo’s gesteld en
                beantwoord worden en kunnen er tips en suggesties gegeven worden. Daarnaast hebben we ook een kanaal
                voor technische hulp. Deze is vooral bedoeld voor de Ninja’s die bezig zijn met een workshop (thuis of
                tijdens en dojo) en tegen een probleem aan lopen. Tot slot hebben we ook een paar andere kanalen zoals
                voor het opstarten van een dojo, landelijk kanaal en algemeen chatkanaal.
            </p>

            <div class="clearfix margin-bottom-20"></div>

            <div class="row tag-box tag-box-v5">
                <div class="col-md-8">
                    <h3>
                        Wil je ook mee praten in Slack?
                    </h3>
                </div>
                <div class="col-md-4">
                    <p><a href="http://slack.coderdojo.nl" target="_blank" class="btn-u btn-u-lg btn-u-red"><i class="icon-envelope"></i> Meld Je Aan</a></p>
                </div>
            </div>
        </div>
    </div><!--/row-->

</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
