{% extends "CoderDojoWebsiteBundle::index.html.twig" %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Dashboard</h1>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% block dashboard_content %}
                {% endblock dashboard_content %}
            </div>
            <div class="col-md-3">
                <h3>Acties</h3>
                <p>
                    <a href="{{ path('dashboard') }}" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> Mijn Dojo&apos;s</a>
                    <a href="{{ path('dashboard-add-dojo') }}" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> Dojo Toevoegen</a>
                    <a href="{{ path('dashboard-mentor-requests') }}" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> Mentoren Verzoeken <span class="label label-warning">{{ render(controller('CoderDojoWebsiteBundle:Dashboard:countDojoRequests')) }}</span></a>
                    <a href="#" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> Event Toevoegen</a>
                    <a href="#" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> VOG Aanvragen</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block description %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}
