{% extends "CoderDojoWebsiteBundle::index.html.twig" %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs margin-bottom-40">
        <div class="container">
            <h1 class="pull-left">Dashboard</h1>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>Mijn Dojo&apos;s</h3>
                {% for dojo in app.user.dojos %}
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title margin-bottom-10"><i class="glyphicon glyphicon-flag"></i> {{ dojo.name }}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ dojo.lat }},{{ dojo.lon }}&zoom=6&size=190x150&maptype=roadmap&markers={{ dojo.lat }},{{ dojo.lon }}&key=AIzaSyBetOCLHOnWYFAgiEcnwGLT4qyPkLeBh6M" style="width:100%;" />
                                </div>
                                <div class="col-md-9">
                                    <table>
                                        <tr>
                                            <td width="80"><strong>Locatie:</strong></td>
                                            <td>{{ dojo.city }}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Zen:</strong></td>
                                            <td><a href="{{ dojo.zenUrl }}">{{ dojo.zenUrl }}</a></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Website:</strong></td>
                                            <td><a href="{{ dojo.website }}">{{ dojo.website }}</a></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Email:</strong></td>
                                            <td><a href="mailto: {{ dojo.email }}">{{ dojo.email }}<a/></td>
                                        </tr>
                                        <tr>
                                            <td><strong>Twitter:</strong></td>
                                            <td>{{ dojo.twitter }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-3">
                <h3>Acties</h3>
                <p>
                    <a href="#" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> Dojo Toevoegen</a>
                    <a href="#" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> Event Toevoegen</a>
                    <a href="#" class="btn btn-default btn-block"><i class="icon-cloud-download"></i> VOG Aanvragen</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}

{% block description %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}
