{% extends "CoderdojoWebsiteBundle::index.html.twig" %}

{% block title %}Boeken Verdienen &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block fbtitle %}Boeken Verdienen &mdash; Samenwerkingen &mdash; {{ parent() }}{% endblock %}
{% block og_image %}https://www.coderdojo.nl{{asset('bundles/coderdojowebsite/img/books/facebook.png')}}{% endblock %}

{% block description %}
    Dit jaar is in september het officiele CoderDojo boek &quot;Cre&euml;ren met Code&quot; gelanceerd. Dit boek is
    geschreven door Clyde Hatter & Bill Liao. Inmiddels is hij vertaald naar het Nederlands en nu ook in Nederland
    verkrijgbaar. In dit eerste boek leer je alles over de beginselen van HTML en CSS om jouw eigen website
    te bouwen!
{% endblock %}

{% block fbdescription %}
    Dit jaar is in september het officiele CoderDojo boek &quot;Cre&euml;ren met Code&quot; gelanceerd. Dit boek is
    geschreven door Clyde Hatter & Bill Liao. Inmiddels is hij vertaald naar het Nederlands en nu ook in Nederland
    verkrijgbaar. In dit eerste boek leer je alles over de beginselen van HTML en CSS om jouw eigen website
    te bouwen!
{% endblock %}

{% block content %}
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
    <div class="container">
        <h1 class="pull-left">Boeken Verdienen</h1>
    </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">

    <div class="row">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0 text-center margin-bottom-10">
            <img src="{{ asset('bundles/coderdojowebsite/img/books/header.png') }}" style="width:100%;" alt="CoderDojo Boekenpakket"/>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0">
            <div class="headline">
                <h3>CoderDojo Boek</h3>
            </div>
            <p class="margin-bottom-20">
                Dit jaar is in september het officiele CoderDojo boek "Cre&euml;ren met Code" gelanceerd. Dit boek is
                geschreven door Clyde Hatter & Bill Liao. Inmiddels is hij vertaald naar het Nederlands en nu ook in Nederland
                verkrijgbaar. In dit eerste boek leer je alles over de beginselen van HTML en CSS om jouw eigen website
                te bouwen!
            </p>
            <p class="margin-bottom-20">
                Met de lancering van het CoderDojo boek zijn wij een samenwerking aangegaan met de uitgever Meis&Maas. Dat
                maakt dat wij dit jaar een paar leuke boeken hebben om weg te geven! Uiteraard gaan we die niet zómaar weg
                geven, daar moet je wel wat voor doen! Op deze pagina kun je meer lezen over de boeken die we hebben en hoe
                je deze kan bemachtigen.
            </p>
            <p class="text-center">
                <a href="http://nerdygeekyfanboy.com/recensie/recensie-creeren-met-code-bouw-je-eigen-website/" target="_blank" class="btn-u btn-u-blue margin-bottom-10">Lees de review van Nerdy Geeky Fanboy</a>
                <a href="https://www.bol.com/nl/p/coderdojo/9200000057795092" target="_blank" class="btn-u btn-u-blue margin-bottom-10">Bestel op Bol.com</a>
            </p>
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-md-8 col-md-push-2 col-sm-12 col-sm-push-0">
            <div class="headline">
                <h3>Hoe kun je deze boeken verdienen?</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 class="panel-title margin-bottom-10">Ninja Mentor Pakket</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>20/20 pakketten beschikbaar</strong>
                            </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 100%">
                                    <span class="sr-only">Nog 20 pakketten beschikbaar</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="{{ asset('bundles/coderdojowebsite/img/books/ninja-pack.png') }}" style="width: 100%;margin: 50px 0;" alt="Ninja-Mentor Pack"/>
                                </div>
                                <div class="col-md-6">
                                    <h4>Geef als ninja een workshop</h4>
                                    <p>
                                        Met dit pakket willen we ninja's stimuleren om een extra stap te zetten! Als jij als ninja
                                        bij jouw dojo een workshop geeft dan kan jouw champion dit pakket voor je aanvragen.
                                    </p>
                                    <p>
                                        <strong>Welke 3 boeken krijg je?</strong>
                                    </p>
                                    <ul>
                                        <li>CoderDojo Boek</li>
                                        <li>De Geheimen van de Survivors</li>
                                        <li>1 willekeurig boek uit de handboek collectie</li>
                                    </ul>
                                    <p>
                                        <strong>Wat moet je doen?</strong>
                                    </p>
                                    <ul>
                                        <li>Geef een workshop bij jouw dojo</li>
                                        <li>Maak foto's en/of video's als bewijs (die plaatsen we hier op de website!)</li>
                                        <li>Vraag aan jouw champion om bij ons het boekenpakket aan te vragen</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="small_text">
                                        <i class="icon-warning-sign"></i> <strong>Let op!</strong>
                                    </p>
                                    <ul class="small_text">
                                        <li>
                                            Maximaal 2 ninja's per workshop / dojo kunnen een boekenpakket krijgen.
                                        </li>
                                        <li>
                                            De actie loopt t/m 31 januari 2017 óf zolang de voorraad strekt.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title margin-bottom-10">Minecraft - Blockopedia</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>5/5 boeken beschikbaar</strong>
                            </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 100%">
                                    <span class="sr-only">Nog 5 boeken beschikbaar</span>
                                </div>
                            </div>
                            <img src="{{ asset('bundles/coderdojowebsite/img/books/blockopedia.png') }}" style="width: 100%;" alt="Blockopedia Pack"/>
                            <h4>Maak een hardware project</h4>
                            <p>
                                Voor de ninja's die met hardware (bijv. Raspberry Pi, Littlebut, lego midstorms, makeymakey, etc.)
                                een tof project maken hebben we 5 Blockopedia boeken beschikbaar.
                            </p>
                            <p>
                                <strong>Wat moet je doen?</strong>
                            </p>
                            <ul>
                                <li>Maak een tof nieuw concept met hardware</li>
                                <li>Presenteer jouw project bij jouw dojo</li>
                                <li>Laat je presentatie opnemen op video</li>
                                <li>Vraag aan jouw champion om bij ons het boekenpakket aan te vragen</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-blue">
                        <div class="panel-heading">
                            <h3 class="panel-title margin-bottom-10">Minecraft - Handboek Collectie</h3>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>5/5 collecties beschikbaar</strong>
                            </p>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 100%">
                                    <span class="sr-only">Nog 5 collecties beschikbaar</span>
                                </div>
                            </div>
                            <img src="{{ asset('bundles/coderdojowebsite/img/books/collection.png') }}" style="width: 100%;" alt="Handboek Collectie"/>
                            <h4>Maak een software project</h4>
                            <p>
                                Voor de ninja's die de met software een cool project maken hebben we 5 handboek collecties
                                beschikbaar. Maak bijvoorbeeld een toffe game in Game Maker, of een website met PHP/MySQL.
                            </p>
                            <p>
                                <strong>Wat moet je doen?</strong>
                            </p>
                            <ul>
                                <li>Programmeer een tof nieuwe concept</li>
                                <li>Presenteer je project bij jouw dojo</li>
                                <li>Laat je presentatie opnemen op video</li>
                                <li>Vraag aan jouw champion om bij ons het boekenpakket aan te vragen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            #}
        </div>
    </div>
    <div class="row margin-bottom-50">
        <div class="col-md-12">
            <div class="headline">
                <h2>De Boeken</h2>
            </div>
            <div class="row margin-bottom-20">
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/coderdojo_boek.jpg') }}" style="width:100%;" alt="CoderDojo Boek" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Cre&euml;ren met Code</h3>
                        <p>
                            In dit eerste offici&euml;le handboek leer je de Nanonauten kennen. Ze hebben een eigen Dojo Nano opgezet, waar ze leren hoe ze een website bouwen voor hun eigen band. Jij leert met dit boek hoe je je eigen website bouwt met behulp van HTML, CSS en Javascript - en hoe je een CoderDojo Nano begint met je vrienden. Websites maken is gemakkelijk en leuk! Je hebt er alleen een computer en dit boek voor nodig.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_survivalguide.jpg') }}" style="width:100%;" alt="Minecraft De Geheimen Van De Survivors" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>De Geheimen Van De Survivors</h3>
                        <p>
                            Dit nieuwe officiële Minecraft boek bevat alle geheime informatie van de survivors - een ondergrondse groep van Minecraft-experts die bestaan sinds het ontstaan van het spel. De leider van de groep, oftewel de Chief, onthult zijn sluwe plannen en ingenieuze uitvindingen. Maar hij deelt ook minder bekende tips over hoe de Minecraft-speler het best tot zijn recht komt in de Nether en de End en, als ze echt voldoende zelfvertrouwen hebben gevonden, een poging kunnen wagen voor een speed run naar de End dimensie.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_beginners.jpg') }}" style="width:100%;" alt="Minecraft Handboek Voor Beginners" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Handboek voor Beginners</h3>
                        <p>
                            Je bent helemaal alleen in een geheimzinnige nieuwe wereld, vol verborgen gevaren. Je hebt maar een paar minuten om eten en onderdak te vinden. Want straks wordt het donker en komen de monsters tevoorschijn. Wat nu? Dit helemaal vernieuwde, officiële Minecraft Handboek voor Beginners zou weleens je leven kunnen redden. Je leert hoe je grondstoffen vindt, een schuilplaats bouwt, hoe je gereedschap en wapens maakt, en hoe je jezelf beschermt tegen monsters.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_redstone.jpg') }}" style="width:100%;" alt="Mindcraft Redstone Handboek" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Redstone Handboek</h3>
                        <p>
                            In dit boek vind je alles wat je moet weten om je aan te sluiten bij de duizelingwekkende mogelijkheden van redstone. Van simpel ontginnen en logische circuits tot meer geavanceerde mechanismen. Dit boek geeft je stap-voor-stap instructies om je op te laden voor redstone! Met bouwwerken zoals redstone-vallen en pijlenwerpers hoef je nooit meer bang te zijn voor creepers! En... we onthullen een aantal van de coolste creaties van de beste redstone-bouwers uit de Minecraft community.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_combat.jpg') }}" style="width:100%;" alt="Minecraft Combat Handboek" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Combat Handboek</h3>
                        <p>
                            In Minecraft ben je nooit alleen. En je kunt altijd aangevallen worden. Hoe overleef je? Het officiële, compleet vernieuwde Combat Handboek leert je alles wat je moet weten om jezelf te verdedigen tegen monsters en vijandige spelers. Leer een fort bouwen, wapens en wapenuitrusting maken, vallen zetten, je vijanden verslaan in een-op-een combat en jezelf uit de Nether en de End vechten. Met de tips van alle experts word je in no time een onoverwinnelijke Minecraft-krijger!
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_construction.jpg') }}" style="width:100%;" alt="Minecraft Constructie Handboek" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Constructie Handboek</h3>
                        <p>
                            In Minecraft kun je echt alles bouwen. Maar waar moet je beginnen? Er is zoveel keus! En zal het je ooit lukken iets te maken dat net zo mooi is als de creatieve constructies van de experts? Het vernieuwde, officiele Minecraft Constructie handboek staat vol tips en s tap-voor-stap uitleg van het meesterteam FyreUK. Je leert hoe je huizen, bruggen, schepen, zwevende eilanden en achtbanen bouwt waar andere spelers jaloers op zullen zijn. Met dit handboek wordt je in no time een meesterbouwer!
                        </p>
                    </div>
                </div>
                {#
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_blockopedia.jpg') }}" style="width:100%;" alt="Minecraft Blockopedia" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Blockopedia</h3>
                        <p>
                            Minecraft is een ongekend fenomeen. Na het succes van de officiële Minecraft handboeken verschijnt nu Blockopedia: een must have encyclopedie voor iedere fan van Minecraft. De wereld van Minecraft bestaat volledig uit blokken. Het ene blok helpt je met bouwen en het andere blok helpt je te overleven. Ieder blok dat je in dit boek vindt opent een wereld van nieuwe mogelijkheden en spannende avonturen! Minecraft Blockopedia is volledig geïllustreerd en bevat alle informatie die je nodig hebt om de wereld van Minecraft nog beter te begrijpen. Blockopedia verschijnt in een luxe geschenkdoos en is geschikt voor zowel de beginnende als de meer ervaren speler!
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-6">
                        <img src="{{ asset('bundles/coderdojowebsite/img/books/minecraft_collectie.jpg') }}" style="width:100%;" alt="Minecraft Handboeken Collectie" class="margin-bottom-40"/>
                    </div>
                    <div class="col-md-6">
                        <h3>Handboeken Collectie</h3>
                        <p>
                            De vier officiële Minecraft Handboeken verpakt in een mooi uitgevoerde slipcase. Het perfecte cadeau voor de echte Minecraft fan.
                        </p>
                    </div>
                </div>
                #}
            </div>
        </div>
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->
{% endblock %}
