{% extends "CoderDojoWebsiteBundle:Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ coc.letters }} {{ coc.name }},</p>
    <p style="font-weight: bold;">
        Dit is een belangrijk bericht omtrent het aanvragen van een gratis VOG, lees dit aandachtig door.
    </p>
    <p>
        Wij hebben van {{ coc.requestedBy.firstName }} {{ coc.requestedBy.lastName}} van
        CoderDojo {{ coc.requestedFor.name }} een aanvraag ontvangen om voor jou een gratis VOG te regelen.
    </p>
    <p>
        Wij hebben de volgende gegevens van jou ontvangen:
    </p>
    <table>
        <tr>
            <td><strong>Voorletters</strong></td>
            <td>{{ coc.letters }}</td>
        </tr>
        <tr>
            <td><strong>Achternaam</strong></td>
            <td>{{ coc.name }}</td>
        </tr>
        <tr>
            <td><strong>Email</strong></td>
            <td>{{ coc.email }}</td>
        </tr>
        <tr>
            <td><strong>Geboortedatum</strong></td>
            <td>{{ coc.birthdate|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <td><strong>Opmerkingen</strong></td>
            <td>{{ coc.notes }}</td>
        </tr>
    </table>
    <p style="font-style: italic">
        Klopt hier iets niet? Antwoord dan <strong>DIRECT</strong> op deze email zodat we dit recht kunnen zetten.
    </p>
    <p>
        Met deze gegevens zullen wij z.s.m. bij de overheid een aanvraag doen. Zodra we dit gedaan hebben ontvang
        je zowel van ons als van de overheid bericht. Jij moet dan hetvolgende doen:
    </p>
    <ul>
        <li>Inloggen met DigID en VOG aanvragen</li>
        <li>Bij ontvangst thuis, het origneel per post doorsturen naar ons (je ontvangt later het adres)</li>
    </ul>
    <p>
        Als je vragen hebt neem dan gerust contact met ons op!
    </p>
{% endblock content %}