{% extends "::index_v2.html.twig" %}

{% block content %}
    <!--=== Breadcrumbs ===-->
    <section class="g-bg-size-cover g-bg-pos-center g-bg-cover g-bg-black-opacity-0_5--after g-color-white g-py-50 g-mb-20" style="background-image: url({{ asset('/bundles/coderdojowebsite/img/mentors/kids.jpg') }});">
        <div class="container g-bg-cover__inner">
            <header class="g-mb-20">
                <h3 class="h5 g-font-weight-300 g-mb-5">Beheer alles voor jouw dojo</h3>
                <h2 class="h1 g-font-weight-300 text-uppercase">Dashboard</h2>
            </header>

            <ul class="u-list-inline">
                <li class="list-inline-item g-mr-7">
                    Home
                    <i class="fa fa-angle-right g-ml-7"></i>
                </li>
                <li class="list-inline-item g-mr-7">
                    Dashboard
                </li>
            </ul>
        </div>
    </section>
    <!--=== End Breadcrumbs ===-->

    <section class="col-lg-12 g-my-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            {{ flashMessage }}
                        </div>
                    {% endfor %}
                    {% block dashboard_content %}
                    {% endblock dashboard_content %}
                </div>
                {% set requestCount = render(controller('CoderDojoWebsiteBundle:Dashboard:countDojoRequests')) %}
                <div class="col-lg-3">
                    <h3 class="g-font-weight-300 g-mb-20">Acties</h3>
                    <p>
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-block u-btn-outline-darkgray g-mb-10"><i class="fa fa-user"></i> &nbsp;&nbsp;Mijn Profiel</a>
                        <a href="{{ path('dashboard') }}" class="btn btn-block u-btn-outline-darkgray g-mb-10"><i class="fa fa-location-arrow"></i> &nbsp;&nbsp;Mijn Dojo&apos;s</a>
                        <a href="{{ path('dashboard-add-dojo') }}" class="btn btn-block u-btn-outline-darkgray g-mb-10"><i class="fa fa-plus"></i> &nbsp;&nbsp;Dojo Toevoegen</a>
                        <a href="{{ path('dashboard-mentor-requests') }}" class="btn btn-block u-btn-outline-darkgray g-mb-10"><i class="fa fa-exclamation"></i> &nbsp;&nbsp;Mentoren Verzoeken {% if requestCount > 0 %}<span class="u-badge-v1 g-color-white g-bg-red g-rounded-50x">{{ requestCount }}</span>{% endif %}</a>
                        <a href="{{ path('dashboard-apparel') }}" class="btn btn-block u-btn-outline-darkgray g-mb-10"><i class="fa fa-shopping-cart"></i> &nbsp;&nbsp;Kleding Bestellen</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block description %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}

{% block fbdescription %}
    In heel Nederland worden er CoderDojo's gehouden. Kijk hier waar er een bij jou in de buurt is!
{% endblock %}
