{% extends ":Snippets:_email.html.twig" %}

{% block content %}
    <p>Hi {{ dojo.name }},</p>

    <p>
        Er is een mentor die graag administratie toegang wilt hebben tot {{ dojo.name }} op coderdojo.nl.
    </p>
    <table>
        <tr>
            <td><strong>Mentor:</strong></td>
            <td>{{ user.firstname }} {{ user.lastname }}</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td><strong>Telefoon:</strong></td>
            <td>{{ user.phone }}</td>
        </tr>
    </table>
    <p>&nbsp;</p>
    <p style="text-align: center;">
        <a href="{{ url('dashboard-mentor-requests-accept', {'id': requestId }) }}" class="btn">Geef {{ user.firstname }} toegang</a>
    </p>
    <p>&nbsp;</p>
    <p>
        Je kan ook rechstreeks met {{ user.firstname }} contact opnemen door op deze email te antwoorden.
    </p>
{% endblock content %}
