{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-0">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Dojo Toevoegen</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="g-brd-white-opacity-0_1">Dojo</th>
                <th class="g-brd-white-opacity-0_1">Stad</th>
                <th class="g-brd-white-opacity-0_1">Email</th>
                <th class="g-brd-white-opacity-0_1">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for dojo in dojos %}
                <tr>
                    <td>{{ dojo.name|truncate(30) }}</td>
                    <td>{{ dojo.city }}</td>
                    <td>{{ dojo.email|truncate(20) }}</td>
                    <td>
                        {% if dojo.owners|length > 0 %}
                            {% if dojo.hasPendingRequest(app.user) %}
                                <a href="#" class="btn btn-block btn-xs u-btn-outline-darkgray disabled">Toegang aangevraagd</a>
                            {% elseif app.user in dojo.owners %}
                                <a href="#" class="btn btn-block btn-xs u-btn-outline-darkgray disabled">Jouw Dojo</a>
                            {% else %}
                                <a href="{{ path('dashboard-request-dojo', {'dojoId': dojo.id }) }}" class="btn btn-block btn-xs u-btn-cyan">Toegang Aanvragen</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ path('dashboard-claim-dojo', {'dojoId': dojo.id }) }}" class="btn btn-block btn-xs u-btn-yellow">Claimen</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock dashboard_content %}
