{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-0">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Dojo Toevoegen</h2>
    </div>
    {% if app.user.dojos|length == 0 %}
        <p>Er zijn nog geen dojo's aan jouw account gekoppeld.</p>
    {% endif %}
    {% for dojo in app.user.dojos %}
        <div class="card card-outline-success rounded-0">
            <h3 class="card-header h5 text-white bg-success g-brd-transparent rounded-0">
                <i class="fa fa-flag"></i> {{ dojo.name }}
            </h3>

            <div class="card-block">
                <div class="row">
                    <div class="col-md-3">
                        <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ dojo.lat }},{{ dojo.lon }}&zoom=6&size=190x150&maptype=roadmap&markers={{ dojo.lat }},{{ dojo.lon }}&key=AIzaSyBetOCLHOnWYFAgiEcnwGLT4qyPkLeBh6M" class="img-fluid" />
                    </div>
                    <div class="col-md-9">
                        <h4>Gegevens</h4>
                        <p>
                            <a href="mailto:{{ dojo.email }}" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15" title="Email"><i class="fa fa-envelope"></i>&nbsp;Email</a>
                            <a href="{{ dojo.zenUrl }}" title="Website" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15"><i class="fa fa-globe"></i>&nbsp; Zen</a>&nbsp;
                            <a href="{{ dojo.website }}" title="Website" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15"><i class="fa fa-globe"></i>&nbsp; Website</a>&nbsp;
                            <a href="http://twitter.com/{{ dojo.twitter }}" title="Twitter" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15"><i class="fa fa-twitter"></i>&nbsp;Twitter</a>
                        </p>
                        <h4>Beheer</h4>
                        <p>
                            <a href="{{ path('dashboard-dojo-events', {'id': dojo.id}) }}" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15" title="Events"><i class="fa fa-calendar"></i>&nbsp;Events</a>&nbsp;
                            <a href="{{ path('dashboard-dojo-mentors', {'id':dojo.id}) }}" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15" title="Mentoren"><i class="fa fa-user"></i>&nbsp;Admins</a>&nbsp;
                            <a href="{{ path('dashboard-vog', {'id':dojo.id}) }}" class="btn btn-md u-btn-outline-darkgray g-mr-10 g-mb-15" title="VOG"><i class="fa fa-check"></i>&nbsp;VOG</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock dashboard_content %}
