{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
    <div class="u-heading-v2-5--bottom g-brd-primary g-mb-20 g-mt-0">
        <h2 class="u-heading-v2__title text-uppercase g-font-weight-300 mb-0">Beheerders toevoegen</h2>
    </div>

    {% if requests|length == 0 %}
        <p>Er staan momenteel geen beheerder verzoeken open voor jouw dojo's.</p>
    {% endif %}

    {% if requests|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Dojo</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                    <th>Email</th>
                    <th>Telefoon</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for mentorRequest in requests %}
                    <tr>
                        <td>{{ mentorRequest.dojo.name }}</td>
                        <td>{{ mentorRequest.user.firstname|capitalize }}</td>
                        <td>{{ mentorRequest.user.lastname|capitalize }}</td>
                        <td>{{ mentorRequest.user.email }}</td>
                        <td>{{ mentorRequest.user.phone }}</td>
                        <td>
                            <a href="{{ path('dashboard-mentor-requests-accept', {'id': mentorRequest.id}) }}" class="btn btn-success btn-xs" onclick="return confirm('Weet je zeker dat je {{ mentorRequest.user.firstname|capitalize }} wilt accepteren?')"><i class="fa fa-thumbs-up"></i> Accepteren</a>
                            <a href="{{ path('dashboard-mentor-requests-deny', {'id': mentorRequest.id}) }}" class="btn btn-danger btn-xs" onclick="return confirm('Weet je zeker dat je {{ mentorRequest.user.firstname|capitalize }} wilt weigeren?')"><i class="fa fa-trash"></i> Weigeren</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock dashboard_content %}
