{% extends ":Dashboard:index.html.twig" %}

{% block dashboard_content %}
<h3>VOG's Beheren</h3>
    <p style="text-align: right;">
        <a href="{{ path('dashboard-vog-aanvragen') }}" class="btn btn-success">VOG Aanvragen</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Voorletters</th>
                <th>Achternaam</th>
                <th>Opmerkingen</th>
                <th width="150">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for coc in cocs %}
                <tr>
                    <td>{{ coc.letters }}</td>
                    <td>{{ coc.name }}</td>
                    <td>{{ coc.notes }}</td>
                    <td>
                        {% if coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_CREATED') %}
                            <p class="text-muted">
                                <span class="label label-default"><i class="icon-asterisk"></i></span>
                                <strong>Aangemaakt</strong>
                            </p>
                        {% elseif coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_PREPARED') %}
                            <p class="text-warning">
                                <span class="label label-warning"><i class="icon-flag"></i></span>
                                <strong>Staat klaar</strong>
                            </p>
                        {% elseif coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_REQUESTED') %}
                            <p class="text-info">
                                <span class="label label-info"><i class="icon-envelope"></i></span>
                                <strong>Aangevraagd</strong>
                            </p>
                        {% elseif coc.status == constant('CoderDojo\\WebsiteBundle\\Entity\\CocRequest::STATUS_RECEIVED') %}
                            <p class="text-success">
                                <span class="label label-success"><i class="icon-ok"></i></span>
                                <strong>Ontvangen</strong>
                            </p>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% if cocs|length == 0 %}
                <tr>
                    <td colspan="4"><p>Er lopen geen aanvragen. Klik op "VOG Aanvragen" rechtsboven om een nieuwe procedure te starten.</p></td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <p class="margin-bottom-50" style="text-align: right;">
        <a href="{{ path('dashboard-vog-aanvragen') }}" class="btn btn-success">VOG Aanvragen</a>
    </p>

    <div class="alert alert-info">
        <h3 class="margin-bottom-20">Status Beschrijving</h3>
            <div class="row">
                <div class="col-md-3">
                    <p class="text-muted">
                        <span class="label label-default"><i class="icon-asterisk"></i></span>
                        <strong>Aangemaakt</strong>
                    </p>
                    <p>De VOG-aanvraag is in ons systeem aangemaakt, wij gaan deze z.s.m. in behandeling nemen.</p>
                </div>
                <div class="col-md-3">
                    <p class="text-warning">
                        <span class="label label-warning"><i class="icon-flag"></i></span>
                        <strong>Staat Klaar</strong>
                    </p>
                    <p>De aanvraag staat klaar en dient door de vrijwilliger met Digid uitgevoert te worden.</p>
                </div>
                <div class="col-md-3">
                    <p class="text-info">
                        <span class="label label-info"><i class="icon-envelope"></i></span>
                        <strong>Aangevraagd</strong>
                    </p>
                    <p>De vrijwilliger heeft het VOG aangevraagd en stuurt deze naar ons op zodra deze binnen is.</p>
                </div>
                <div class="col-md-3">
                    <p class="text-success">
                        <span class="label label-success"><i class="icon-ok"></i></span>
                        <strong>Ontvangen</strong>
                    </p>
                    <p>Wij hebben het VOG in goede orde ontvangen en verwerkt, de vrijwilliger is nu 100% gechecked.</p>
                </div>
            </div>
    </div>
{% endblock %}